@model Pogi.Entities.Log2

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Log2</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MemberId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MemberId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ipAddr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ipAddr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Action)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Action)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.createdTS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.createdTS)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ActivityId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
