@model Pogi.Models.PlayerViewModels.PlayerCreateViewModel

@{
    ViewData["Title"] = "Create";
    Member member = @Model.Member;
    Player player = @Model.Player;
}

<br />

<h2>Player</h2>

<h4>Registration</h4>
<hr />
<div class="container">

    <form asp-action="Create">

        <input type="hidden" asp-for="Member.MemberId" />
        <input type="hidden" asp-for="Member.FirstName" />
        <input type="hidden" asp-for="Member.LastName" />
        <input type="hidden" asp-for="Member.EmailAddr1st" />

        @if (!member.RoleAdminTeeTime && !member.RoleAdminRoot)
    {

        <input type="hidden" asp-for="Player.MemberId" />
}
        <div class="row">
            <div class="col col-md-6">
                @if (!member.RoleAdminTeeTime && !member.RoleAdminRoot)
            {
                <div class="alert-info col ">
                    @Html.DisplayFor(modelItem => member.FirstName)
                    @Html.DisplayFor(modelItem => member.LastName)
                </div>
        }
        else
        {
            <div class="form-group">
                In Behalf of Member or Registered Guest
                <select asp-for="Player.MemberId" asp-items="@Model.Members" class="form-control"></select>
                <span asp-validation-for="Player.MemberId" class="text-danger"></span>
            </div>
    }
            </div>
        </div>

        <div class="row">
            <div class="col col-md-6">
                <div class="form-group form-check-inline">
                    <label asp-for="MemberPlaying" class="control-label col-2 "></label>
                    <input asp-for="MemberPlaying" class="form-control col-2" /> Check Box only if not yet registered for this Date
                    <span asp-validation-for="MemberPlaying" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-6">
                <div class="form-group">
                    <label asp-for="Player.GuestName" class="control-label"></label>
                    <input asp-for="Player.GuestName" class="form-control" />
                    <span asp-validation-for="Player.GuestName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-6">
                <div class="form-group">
                    <label asp-for="Player.PlayDate" class="control-label"></label>
                    <input asp-for="Player.PlayDate" class="form-control" />
                    <span asp-validation-for="Player.PlayDate" class="text-danger"></span>
                </div>
            </div>
        </div>


        @*<div class="form-group">
            <label asp-for="Order" class="control-label"></label>
            <input asp-for="Order" class="form-control" />
            <span asp-validation-for="Order" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="preferTeeTimeId1" class="control-label"></label>
            <input asp-for="preferTeeTimeId1" class="form-control" />
            <span asp-validation-for="preferTeeTimeId1" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="preferTeeTimeId2" class="control-label"></label>
            <input asp-for="preferTeeTimeId2" class="form-control" />
            <span asp-validation-for="preferTeeTimeId2" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="preferTeeTimeId3" class="control-label"></label>
            <input asp-for="preferTeeTimeId3" class="form-control" />
            <span asp-validation-for="preferTeeTimeId3" class="text-danger"></span>
        </div>*@
        <br />
        <div class="row">
            <div class="col col-md-6">
                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div>
            <a asp-controller="TeeTime" asp-action="Index">Back to Tee Times</a>
        </div>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        console.info("Hello From Player Create");
    </script>
}
