@model Pogi.Entities.Player

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Players</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MemberId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MemberId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GuestName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GuestName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlayDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlayDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.preferTeeTimeId1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.preferTeeTimeId1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.preferTeeTimeId2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.preferTeeTimeId2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.preferTeeTimeId3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.preferTeeTimeId3)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PlayId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
