@model Pogi.Entities.TeeAssign

@{
    ViewData["Title"] = "Details";
}
<br />
<h2>Details</h2>

<div>
    <h4>TeeAssign</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeeTimeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeeTimeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MemberId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MemberId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GuestName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GuestName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoShow)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoShow)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RecordStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecordStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TeeAssignId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
