@model Pogi.Models.TeeTimeViewModels.TeeTimeDisplayViewModel

@{
    ViewData["Title"] = "Delete";
    Member member = @Model.Member;
}
<div class="container">
    <br />
    <h2>TeeTime</h2>
    <h4>Delete</h4>
    <hr />
    <div class="container-fluid">
        <div class="row">
            <div class="alert-info col-md-4">
                Reserved by
                @Html.DisplayFor(model => member.FirstName)
                @Html.DisplayFor(model => member.LastName)
            </div>
        </div>
        <br />

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TeeTimeTS)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TeeTimeTS)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CourseName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CourseName)

            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NumPlayers)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NumPlayers)
            </dd>
            <form asp-action="Delete">
                <input type="hidden" asp-for="TeeTimeId" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-warning">Cancel</a>
            </form>

        </dl>
    </div>
</div>

