@using Pogi.Models.TeeTimeViewModels
@model TeeTimeViewModel ;

@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid">
    <br />
    <h2>Tee Time</h2>
    <h3>Directory</h3>
    <hr />

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <a asp-action="Create">Add New Tee Time</a>


                @foreach (var item in Model.TeeTimeInfos)
                {
                    TeeTime teeTime = item.TeeTime;
                    String teeTimeDisp = teeTime.TeeTimeTS.ToString("f");
                    Member member = item.Member;
                    Course course = item.Course;
                    var teeAssignInfos = item.TeeAssignInfos;

                <div class="row">
                    <div class="alert-info col-md-3">
                        @Html.DisplayNameFor(model => course.CourseName)
                    </div>
                    <div class="alert-warning col-md-6">
                        @Html.DisplayFor(modelItem => course.CourseName)
                    </div>
                </div>
                <div class="row">
                    <div class="alert-info col-md-3">
                        @Html.DisplayNameFor(model => teeTime.TeeTimeTS)
                    </div>
                    <div class="alert-warning col-md-6">
                        @teeTimeDisp
                    </div>
                </div>
                <div class="row">
                    <div class="alert-info col-md-3">
                        Reserved By
                    </div>
                    <div class="alert-warning col-md-6">
                        @Html.DisplayFor(modelItem => member.FirstName)
                        @Html.DisplayFor(modelItem => member.LastName)
                    </div>
                </div>
                @for (int i = 0; i < teeTime.NumPlayers; i++)

            {
                <div class="row">
                    <div class="col-md-3">
                        Player @(i + 1)
                    </div>

                    <div class="col-md-6 text-dark">
                        @if (i < teeAssignInfos.Count)
                    {
                        var teeAssignInfo = teeAssignInfos[i];
                        <span>@teeAssignInfo.Member.FirstName</span>
                        <span>@teeAssignInfo.Member.LastName</span>
                }
                else
                {
                    <span class="text-muted">Unassigned</span>
            }
                    </div>
                </div>


        }
                <div class="row">
                    <div class="col-md-7">
                         @if (Model.User != null && (Model.User.MemberId == teeTime.ReservedById 
                             || Model.User.MemberId == 1)) {
                        <a data-toggle="tooltip" title="Edit TeeTime" asp-action="Edit" asp-route-id="@teeTime.TeeTimeId">&#x270f;</a><span> | </span>
                         <a data-toggle="tooltip" title="Delete TeeTime"asp-action="Delete" asp-route-id="@teeTime.TeeTimeId">&#xe083;</a>
                         }
                    </div>
                  </div>
                <div class="row ">
                    <div class="col-md-7">
                        <hr />
                    </div>
                </div>

        }
            </div>

            <div class="col-md-5">
                <div class="">
                    <a asp-controller="Player" asp-action="Create">Register to Play</a>
                    <hr />
                </div>
                <div class="row col-md-12">
                    <div class="h4">
                        Playing Members
                    </div>
                </div>
                @{
                String prevDate = new DateTime(0).ToString("yyyyMMdd");
                int playerCount = 1;
                int playerTotal = 0;
                }
                @foreach (var item in Model.PlayerInfos)
                {
                    DateTime nextDateTime = item.Player.PlayDate;
                    String nextDate = nextDateTime.ToString("yyyyMMdd");
                    String nextDateDisp = nextDateTime.ToString("D");
                    if (!nextDate.Equals(prevDate))
                        {
                            @if (playerTotal > 0)
                            {
                                <br />
                            }
                            <div class="row">
                            <div class="alert-info col-md-7">
                                @nextDateDisp
                            </div>
                            </div>
                            playerCount = 0;
                        }
                        playerCount++;
                        prevDate = nextDate;
                            <div class="row">
                                <div class="col-md-12">
                                    @if (item.Player.GuestName != null && item.Player.GuestName.Length > 0)
    {
                                <span>@playerCount. @item.Player.GuestName (Guest of @item.Member.FirstName)</span>
}
else
{
                                <span>@playerCount. @item.Member.FirstName @item.Member.LastName</span>
}
                                    @if (Model.User != null && (Model.User.MemberId == item.Player.MemberId 
                                        || Model.User.RoleAdminTeeTime || Model.User.RoleAdminRoot))
                                    {
                                        <a data-toggle="tooltip" title="Withdraw" asp-controller="Player" asp-action="Delete"
                                            asp-route-id="@item.Player.PlayId">
                                            <span>&#xe083;</span>

                                        </a>
                                    }
                                </div>

                            </div>

                    playerTotal++;
                }
            </div>
        </div>
    </div>
    </div>
