@using Pogi.Models.TeeTimeViewModels
@model TeeTimeViewModel ;

@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid">
    <br />
    <h2>Tee Time</h2>
    <h3>Directory</h3>
    <hr />

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <div class="col">
                        <a class="btn-light btn-lg btn-block text-primary text text-center" asp-action="Create">Add New Tee Time</a>
                    </div>
                </div>
                <div class="row">&nbsp;</div>

                @foreach (var item in Model.TeeTimeInfos)
                {
                    TeeTime teeTime = item.TeeTime;
                    String teeTimeDisp = teeTime.TeeTimeTS.ToString("f");
                    Member member = item.Member;
                    Course course = item.Course;
                    var teeAssignInfos = item.TeeAssignInfos;

                    <div class="row input-group">
                        <div class="input-group-prepend alert-info  col-md-4">
                            @Html.DisplayNameFor(model => course.CourseName)
                        </div>
                        <div class="alert-secondary col-md-8">
                            @Html.DisplayFor(modelItem => course.CourseName)
                        </div>
                    </div>
                    <div class="row input-group">
                        <div class="input-group-prepend alert-info col-md-4">
                            @Html.DisplayNameFor(model => teeTime.TeeTimeTS)
                        </div>
                        <div class="alert-secondary col-md-8">
                            @teeTimeDisp
                        </div>
                    </div>
                    <div class="row input-group">
                        <div class="input-group-prepend alert-info col-md-4">
                            Reserved By
                        </div>
                        <div class="alert-secondary col-md-8">
                            @Html.DisplayFor(modelItem => member.FirstName)
                            @Html.DisplayFor(modelItem => member.LastName)
                        </div>
                    </div>
                    int group = 0;
                    DateTime startTime = teeTime.TeeTimeTS;
                    @for (int i = 0; i < teeTime.NumPlayers; i++)

                    {
                        if (teeTime.MajorTour && teeTime.NumPlayers > 4 && i % 4 == 0)
                        {
                            group++;
                            <div class="row input-group">
                                <div class="input-group-prepend alert-primary col-md-4">
                                    Group @group
                                </div>
                                <div class="alert-primary col-md-8">
                                    Start Time: @startTime.ToShortTimeString()
                                </div>
                            </div>
                            startTime = startTime.AddMinutes(teeTime.TeeTimeInterval);
                        }
                        <div class="row input-group">
                            <div class="input-group-prepend alert-info col-md-4">
                                Player @(i + 1)
                            </div>

                            <div class="col-md-8 text-dark">
                                @if (i < teeAssignInfos.Count)
                                {
                                    var teeAssignInfo = teeAssignInfos[i];
                                    @if (teeAssignInfo.TeeAsign.GuestName != null && teeAssignInfo.TeeAsign.GuestName.Length > 0)
                                    {
                                        <span>@teeAssignInfo.TeeAsign.GuestName</span>

                                    }
                                    else
                                    {
                                        <span>@teeAssignInfo.Member.FirstName</span>
                                        <span>@teeAssignInfo.Member.LastName</span>
                                        @if (teeAssignInfo.Member.CurrHandicap > 0)
                                        {
                                            <span>(@teeAssignInfo.Member.CurrHandicap)</span>
                                        }
                                        else
                                        {
                                            <span>(NH)</span>

                                        }
                                    }
                                }
                                else
                                {
                                    <span class="text-muted">Unassigned</span>
                                }
                            </div>
                        </div>


                    }
                    @if (item.TeeTime.MajorTour)
                    {
                        int daysToGo = (item.TeeTime.TeeTimeTS.Date - DateTime.Today.Date).Days;
                        DateTime lastWithdrawDate = item.TeeTime.TeeTimeTS.Date.AddDays(-5).AddHours(16);
                        <div class="row">
                            <div class="col-md-12">
                                <span>This is a major tour event. All active members will be registered to play by default.</span>
                                <span>Last Withdrawal is on @lastWithdrawDate.ToString("f").</span>
                                @if (DateTime.Now <= lastWithdrawDate)
                                {
                                    <span>You can still withdraw.</span>
                                }
                                else
                                {
                                    <span>You can no longer withdraw.</span>
                                }
                            </div>
                        </div>


                    }
                    <div class="row">
                        <div class="col-md-7">
                            @if (Model.User != null && (Model.User.MemberId == teeTime.ReservedById
|| Model.User.MemberId == 1))
                            {
                                <a data-toggle="tooltip" title="Edit TeeTime" asp-action="Edit" asp-route-id="@teeTime.TeeTimeId">&#x270f;</a><span> | </span>
                                <a data-toggle="tooltip" title="Delete TeeTime" asp-action="Delete" asp-route-id="@teeTime.TeeTimeId" class="fa fa-trash"></a>
                            }

                            @if (Model.User != null && (Model.User.RoleAdminTeeTime || Model.User.RoleAdminRoot))
                            {
                                <span> | </span><a data-toggle="tooltip" title="Assign TeeTime" asp-controller="TeeAssign" asp-action="Edit2" asp-route-id="@teeTime.TeeTimeId" class="fa fa-user-plus"></a>
                            }

                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-7">
                            <hr />
                        </div>
                    </div>

                }
            </div>

            <div class="col-md-7">
                <div class="row">
                    <div class="col">
                        <a class="btn-light btn-lg btn-block text-primary text-center" asp-controller="Player" asp-action="Create">Register to Play</a>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row col-md-12">
                    <div class="h4">
                        Playing Members
                    </div>
                </div>
                @{
                    String prevDate = new DateTime(0).ToString("yyyyMMdd");
                    int playerCount = 1;
                    int playerTotal = 0;
                }
                @foreach (var item in Model.PlayerInfos)
                {
                    DateTime nextDateTime = item.Player.PlayDate;
                    String nextDate = nextDateTime.ToString("yyyyMMdd");
                    String nextDateDisp = nextDateTime.ToString("D");
                    int daysToGo = (nextDateTime.Date - DateTime.Today.Date).Days;
                    if (!nextDate.Equals(prevDate))
                    {
                        @if (playerTotal > 0)
                        {
                            <br />
                        }
                        <div class="row">
                            <div class="alert-info col-xs-8">
                                @nextDateDisp, @daysToGo days &nbsp; / &nbsp;
                            </div>
                            <div class="alert-info col-xs">
                                RegisteredBy &nbsp; / &nbsp;
                            </div>
                            <div class="alert-info col-xs">
                                Status
                            </div>
                        </div>
                        playerCount = 0;
                    }
                    playerCount++;
                    prevDate = nextDate;
                    <div class="row">
                        <div class="col-xs">
                            @if (item.Player.GuestName != null && item.Player.GuestName.Length > 0)
                            {
                                <span>@playerCount. @item.Player.GuestName (Guest of @item.Member.FirstName)</span>
                            }
                            else
                            {
                                <span>@playerCount. @item.Member.FirstName @item.Member.LastName.Substring(0, 1)</span>
                                <a data-toggle="tooltip" title="Lookup GHIN" href="http://ghp.ghin.com/GHINeNewsletters/ViewPrint.aspx?ghinno=@item.Member.GhinNumber&tid=17253&club=9999999&assoc=2&rrid=0" target="_blank">
                                    @if (item.Member.CurrHandicap > 0)
                                    {
                                        <span>(@(item.Member.CurrHandicap))</span>
                                    }
                                    else
                                    {
                                        <span>(NH)</span>
                                    }
                                </a>


                            }
                            @if (Model.User != null && (Model.User.MemberId == item.Player.MemberId && !item.Player.Withdrawn
|| Model.User.RoleAdminTeeTime || Model.User.RoleAdminRoot))
                            {
                                <a data-toggle="tooltip" title="Withdraw" asp-controller="Player" asp-action="Delete"
                                   asp-route-id="@item.Player.PlayId" class="fa fa-trash"></a>

                            }
                            @if (Model.User != null && (Model.User.MemberId == item.Player.MemberId || Model.User.RoleAdminRoot)
&& item.Player.RegistrationMethod != RegistrationType.Self
&& item.Player.Confirmed != true && item.Player.Withdrawn != true)
                            {
                                <span> | </span>
                                <a class="fa fa-thumbs-up" data-toggle="tooltip" title="Confirm" asp-controller="Player" asp-action="Confirm"
                                   asp-route-id="@item.Player.PlayId"></a>
                            }
                            &nbsp;/&nbsp;
                        </div>
                        <div class="col-xs">
                            @item.Player.RegistrationMethod&nbsp;/&nbsp;
                        </div>
                        <div class="col-xs">
                            @if (@item.Player.Withdrawn)
                            {
                                <span class="text-danger">Withdrawn</span>

                            }
                            else
                            {
                                @if (@item.Player.RegistrationMethod == RegistrationType.Self)
                                {
                                    <span>Confirmed</span>
                                }
                                else
                                {
                                    @if (@item.Player.Confirmed)
                                    {
                                        <span>Confirmed</span>
                                    }
                                    else
                                    {
                                        @if (Model.User != null && (Model.User.MemberId == item.Player.MemberId || Model.User.RoleAdminRoot)
                       && item.Player.RegistrationMethod != RegistrationType.Self
                       && item.Player.Confirmed != true && item.Player.Withdrawn != true)
                                        {
                                            <a class="alert-warning" data-toggle="tooltip" title="Confirm" asp-controller="Player" asp-action="Confirm"
                                               asp-route-id="@item.Player.PlayId">Pls Confirm</a>
                                        }
                                        else
                                        {<span class="alert-warning">Pls Confirm</span>}

                                    }
                                }
                            }

                        </div>

                    </div>


                    playerTotal++;
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            console.info("Hello From TeeTime Directory");

            $(function () {
                $(".teecolor").each(function () {
                    var tee = $(this);
                    if (tee.val().toString().toLowerCase().startsWith('gold')) tee.css("background", "gold");
                    if (tee.val().toString().toLowerCase().startsWith('red')) tee.css("background", "red");
                    if (tee.val().toString().toLowerCase().startsWith('white')) tee.css("background", "white");
                    if (tee.val().toString().toLowerCase().startsWith('blue')) tee.css("background", "blue");
                })

            })
        </script>

    }
}
