@using Pogi.Models.LiveViewModels
@model LiveSelectViewModel ;

@{
    ViewData["Title"] = "Live Tournament Scoring";
    int[] posP = { @ViewBag.posP1, ViewBag.posP2, ViewBag.posP3, ViewBag.posP4 };

}
    <section class="container">
        <br />
        <h5>Live Scoring</h5>
        <h6>Select Group</h6>
        <hr />
        <form class="px-0" asp-action="Live" method="get">
            <section class="row">
                <div class="col">
                    @*<form class="px-0" asp-action="Live" method="get">*@
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Tour</span>
                        </div>
                        <select asp-for="TourId" asp-items="@Model.Tours" class="form-control"></select>
                        <div class="input-group-append">
                            <select asp-for="TourDate" asp-items="@Model.TourDates" class="form-control"></select>
                        </div>
                        <div class="input-group-addon">
                            <input hidden id="SetTour" type="submit"
                                   formaction=@Url.Action("Index")
                                   name="SetTour" value="SetTour" class="btn btn-primary" />
                        </div>
                    </div>
                    @*</form>*@
                </div>
            </section>
            @*<hr />*@
            @{
                TeeTimeInfo teeTimeInfo = Model.TeeTimeInfo;
                if (teeTimeInfo != null)
                {
                    TeeTime teeTime = teeTimeInfo.TeeTime;
                    String teeTimeDisp = teeTime.TeeTimeTS.ToString("f");
                    Member member = teeTimeInfo.Member;
                    Course course = teeTimeInfo.Course;
                    var teeAssignInfos = teeTimeInfo.TeeAssignInfos;
                    <section class="row mt-2 mb-3 ">
                        <div class="col-4 alert-info px-3">
                            @Html.DisplayNameFor(model => course.CourseName)
                        </div>
                        <div class="col alert-secondary px-3">
                            @Html.DisplayFor(modelItem => course.CourseName)
                        </div>
                    </section>
                    @*<hr />*@
                    int group = 0;
                    DateTime startTime = teeTime.TeeTimeTS;
                    @if (teeTime.NumPlayers > 0)
                    {
                        <section class="row">
                            <div class="col-4">
                                <div class="list-group" id="list-tab" role="tablist">
                                    @for (int i = 0; i < teeTime.NumPlayers; i++)

                                    {
                                        @if (teeTime.MajorTour && i % 4 == 0)
                                        {
                                            group++;
                                            var opts = "active";
                                            @if (group > 1) { opts = ""; }
                                            <a class="list-group-item list-group-item-action btn-info px-2 @opts"
                                               id="list-group@(group)-list"
                                               data-toggle="list" href="#list-group@(group)" role="tab"
                                               aria-controls="group@(group)" tgroup="@(group)">
                                                <small>
                                                    Group @group
                                                    @startTime.ToShortTimeString()
                                                </small>
                                            </a>
                                            startTime = startTime.AddMinutes(teeTime.TeeTimeInterval);
                                        }

                                    }
                                </div>
                            </div>
                            @{group = 0;
                                startTime = teeTime.TeeTimeTS;
                            }
                            <div class="col-8 pl-0">
                                <div class="tab-content" id="nav-tabContent">

                                    @for (int i = 0; i < teeTime.NumPlayers; i++)
                                    {
                                        @if (teeTime.MajorTour && i % 4 == 0)
                                        {
                                            group++;
                                            startTime = startTime.AddMinutes(teeTime.TeeTimeInterval);

                                            var gOfMFound = "N";
                                            var opts = "fade show active";
                                            @if (group > 1)
                                            {
                                                opts = "fade";
                                            }
                                            <div class="tab-pane @opts" id="list-group@(group)" role="tabpanel"
                                                 aria-labelledby="list-group@(group)-list">
                                                <table class="table table-hover">
                                                    <thead class="thead-light">
                                                        <tr class="row d-flex justify-content-start" scope="row">
                                                            <th class="col-1 ml-1" scope="col">#</th>
                                                            <th class="col-6" scope="col">Player</th>
                                                            <th class="col" scope="col">H.I.</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="d-flex flex-column">
                                                        @for (int j = i; j < teeTime.NumPlayers && j < i + 4; j++)
                                                            {
                                                                <tr id="order-P@(j % 4+ 1)" scope="row" class="justify-content-start order-@(posP[j % 4])">
                                                                    <td scope="col" class="col-1 ml-1 p@(j % 4 + 1)-num" sGroup="@(group)" sPlayer="@(j % 4 + 1)">
                                                                        @(j % 4+ 1). 
                                                                    </td>

                                                                    @if (j < teeAssignInfos.Count)
                                                                    {
                                                                        var teeAssignInfo = teeAssignInfos[j];
                                                                        @if (teeAssignInfo != null && teeAssignInfo.TeeAsign != null
                                                                           && teeAssignInfo.TeeAsign.MemberId > 0)
                                                                        {
                                                                            <span id="g@(group)p@(j % 4 + 1)" value="@teeAssignInfo.Member.MemberId"></span>
                                                                            @if (gOfMFound == "N" &&
                                                                               Model.User.MemberId == teeAssignInfo.Member.MemberId)
                                                                            {
                                                                                <span id="pOfM" value="@(j % 4 + 1)"></span>
                                                                                <span id="gOfM" value="@group"></span>
                                                                                gOfMFound = "Y";
                                                                            }
                                                                            @if (teeAssignInfo.TeeAsign.GuestName != null && teeAssignInfo.TeeAsign.GuestName.Length > 0)
                                                                            {
                                                                                <td scope="col" class="col-6 p@(j % 4 + 1)-player" sGroup="@(group)" sPlayer="@(j % 4 + 1)">
                                                                                    @teeAssignInfo.TeeAsign.GuestName
                                                                                </td>

                                                                            }
                                                                            else
                                                                            {
                                                                                <td scope="col" class="col-6 p@(j % 4 + 1)-player" sGroup="@(group)" sPlayer="@(j % 4 + 1)">
                                                                                    @*<small>*@
                                                                                    @teeAssignInfo.Member.FirstName
                                                                                    @teeAssignInfo.Member.LastName
                                                                                    @*</small>*@
                                                                                </td>
                                                                                @if (teeAssignInfo.Member.CurrHandicap > 0)
                                                                                {
                                                                                    <td class="col">

                                                                                        <span style="display:block" class="p@(j % 4 + 1)-handicap" sGroup="@(group)" sPlayer="@(j % 4 + 1)">
                                                                                            <label>@teeAssignInfo.Member.CurrHandicap</label>
                                                                                        </span>
                                                                                        <span style="display:none" class="p@(j % 4 + 1)-move">
                                                                                            <btn sPlayer="@(j % 4 + 1)" class="move-Up mx-0 mt-1 btn btn-sm btn-secondary"><i class="fa fa-angle-double-up"></i></btn>
                                                                                            <btn sPlayer="@(j % 4 + 1)" class="move-Down mx-0 mt-1 btn btn-sm btn-secondary"><i class="fa fa-angle-double-down"></i></btn>
                                                                                        </span>

                                                                                    </td>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <td class="col">
                                                                                        <span style="display:block" class="p@(j % 4 + 1)-handicap" sGroup="@(group)" sPlayer="@(j % 4 + 1)">
                                                                                            <label>(NH)</label>
                                                                                        </span>
                                                                                        <span style="display:none" class="p@(j % 4 + 1)-move">
                                                                                            <btn sPlayer="@(j % 4 + 1)" class="move-Up mx-0 mt-1 btn btn-sm btn-secondary"><i class="fa fa-angle-double-up"></i></btn>
                                                                                            <btn sPlayer="@(j % 4 + 1)" class="move-Down mx-0 mt-1 btn btn-sm btn-secondary"><i class="fa fa-angle-double-down"></i></btn>
                                                                                        </span>
                                                                                    </td>
                                                                                }
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            <td scope="col" class="col-6 p@(j % 4 + 1)-player text-muted" sGroup="@(group)" sPlayer="@(j % 4 + 1)">
                                                                                Unassigned
                                                                            </td>
                                                                            <td scope="col">
                                                                                <span style="display:block" class="p@(j % 4 + 1)-handicap" sGroup="@(group)" sPlayer="@(j % 4 + 1)">
                                                                                    <label>&nbsp;</label>
                                                                                </span>
                                                                                <span style="display:none" class="p@(j % 4 + 1)-move">
                                                                                    <btn sPlayer="@(j % 4 + 1)" class="move-Up mx-0 mt-1 btn btn-sm btn-secondary"><i class="fa fa-angle-double-up"></i></btn>
                                                                                    <btn sPlayer="@(j % 4 + 1)" class="move-Down mx-0 mt-1 btn btn-sm btn-secondary"><i class="fa fa-angle-double-down"></i></btn>
                                                                                </span>
                                                                            </td>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <td class="text-muted">Unassigned</td>
                                                                        <td>
                                                                                <span style="display:block" class="p@(j % 4 + 1)-handicap" sGroup="@(group)" sPlayer="@(j % 4 + 1)">
                                                                                    <label>&nbsp;</label>
                                                                                </span>
                                                                                <span style="display:none" class="p@(j % 4 + 1)-move">
                                                                                    <btn sPlayer="@(j % 4 + 1)" class="move-Up mx-0 mt-1 btn btn-sm btn-secondary"><i class="fa fa-angle-double-up"></i></btn>
                                                                                    <btn sPlayer="@(j % 4 + 1)" class="move-Down mx-0 mt-1 btn btn-sm btn-secondary"><i class="fa fa-angle-double-down"></i></btn>
                                                                                </span>
                                                                            </td>
                                                                    }

                                                                </tr>
                                                            }
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                        }
                                    }


                                </div>
                            </div>
                        </section>
                        
                        <section class="row mt-0">
                            <button type="submit" formaction=@Url.Action("Score","Live") ) class="col-11 py-3 mx-3 mt-1 d-block bg-primary text-light rounded">Select this Group and Score it Live</button>
                        </section>
                       

                    }

                }
            }
        <section>
            <input type="text" id="tGroup" name="tGroup" hidden />
            <input type="text" id="pGroup" name="pGroup" hidden />
            <input type="text" id="tPlayer" name="tPlayer" hidden />
            <input type="text" id="sMemberId1" name="sMemberId1" hidden />
            <input type="text" id="sMemberId2" name="sMemberId2" hidden />
            <input type="text" id="sMemberId3" name="sMemberId3" hidden />
            <input type="text" id="sMemberId4" name="sMemberId4" hidden />
            <input type-"text" id="posP1" name="posP1" value="@ViewBag.posP1" hidden />
            <input type-"text" id="posP2" name="posP2" value="@ViewBag.posP2" hidden />
            <input type-"text" id="posP3" name="posP3" value="@ViewBag.posP3" hidden />
            <input type-"text" id="posP4" name="posP4" value="@ViewBag.posP4" hidden />
        </section>
        </form>
    </section>

@section Scripts {
    <script>
        console.info("Hello From Live Select");
        $(".p1-player, .p2-player, .p3-player, .p4-player, .p1-num, .p2-num, .p3-num, .p4-num, " +
            ".p1-handicap, .p2-handicap, .p3-handicap, .p4-handicap").click(function () {
            var sPlayer = $(this).attr("sPlayer");
            console.info("Player " + sPlayer + " selected");
            var sP;
            for (sP = 1; sP <= 4; sP++) {
                if (sP == sPlayer) {
                    $(".p" + sP + "-handicap").css("display", "none");
                    $(".p" + sP + "-move").css("display", "block");    
                }
                else {
                    $(".p" + sP + "-handicap").css("display", "block");
                    $(".p" + sP + "-move").css("display", "none");   

                }
            }
        });
        $(".move-Down").click(function () {
            var sPlayer = $(this).attr("sPlayer");
            var selPlayerCurrPos = parseInt($("#posP" + sPlayer).val());
            var selPlayerNextPos = selPlayerCurrPos + 1;
            console.info("move-Down for player " + sPlayer + " from " + selPlayerCurrPos + " to " + selPlayerNextPos);
            var nextPlayerCurrPos = selPlayerNextPos;
            var nextPlayerNextPos = nextPlayerCurrPos - 1;
            console.info("player on pos " + nextPlayerCurrPos + " will move to " + nextPlayerNextPos);
            if (selPlayerNextPos <= 4) {
                for (oP = 1; oP <= 4; oP++) {
                    var posP = parseInt($("#posP" + oP).val());
                    console.info("oP=*" + oP + "*, posP=*" + posP + "*");
                    if (posP == selPlayerCurrPos) {
                        $("#posP" + oP).val(selPlayerNextPos);
                        console.info("setting curr player " + oP + " from " + selPlayerCurrPos + " to " + selPlayerNextPos);
                    }
                    else {
                        if (parseInt($("#posP" + oP).val()) == nextPlayerCurrPos) {
                            $("#posP" + oP).val(nextPlayerNextPos);
                            console.info("setting next player " + oP + " from " + nextPlayerCurrPos + " to " + nextPlayerNextPos);
                        }
                    }

                    
                }
                $("#order-P1, #order-P2, #order-P3, #order-P4").removeClass("order-1 order-2 order-3 order-4");
                $("#order-P1").addClass("order-" + $("#posP1").val());
                $("#order-P2").addClass("order-" + $("#posP2").val());
                $("#order-P3").addClass("order-" + $("#posP3").val());
                $("#order-P4").addClass("order-" + $("#posP4").val());
            }
        });
        $(".move-Up").click(function () {
            var sPlayer = $(this).attr("sPlayer");
            var selPlayerCurrPos = parseInt($("#posP" + sPlayer).val());
            var selPlayerNextPos = selPlayerCurrPos -1;
            console.info("move-Up for player " + sPlayer + " from " + selPlayerCurrPos + " to " + selPlayerNextPos);
            var nextPlayerCurrPos = selPlayerNextPos;
            var nextPlayerNextPos = nextPlayerCurrPos + 1;
            console.info("player on pos " + nextPlayerCurrPos + " will move to " + nextPlayerNextPos);
            if (selPlayerNextPos >= 1) {
                for (oP = 1; oP <= 4; oP++) {
                    var posP = parseInt($("#posP" + oP).val());
                    console.info("oP=*" + oP + "*, posP=*" + posP + "*");
                    if (posP == selPlayerCurrPos) {
                        $("#posP" + oP).val(selPlayerNextPos);
                        console.info("setting curr player " + oP + " from " + selPlayerCurrPos + " to " + selPlayerNextPos);
                    }
                    else {
                        if (parseInt($("#posP" + oP).val()) == nextPlayerCurrPos) {
                            $("#posP" + oP).val(nextPlayerNextPos);
                            console.info("setting next player " + oP + " from " + nextPlayerCurrPos + " to " + nextPlayerNextPos);
                        }
                    }


                }
                $("#order-P1, #order-P2, #order-P3, #order-P4").removeClass("order-1 order-2 order-3 order-4");
                $("#order-P1").addClass("order-" + $("#posP1").val());
                $("#order-P2").addClass("order-" + $("#posP2").val());
                $("#order-P3").addClass("order-" + $("#posP3").val());
                $("#order-P4").addClass("order-" + $("#posP4").val());
            }
        });

        $("#TourId").change(function () {
            //console.info("TourId changed");
            $("#SetTour").trigger("click");
            $("#TourDate").val("");
        });
        $("#TourDate").change(function () {
            //console.info("TourId changed");
            $("#SetTour").trigger("click");
        });
        $(".list-group-item").click(function () {
            var tGroup = $(this).attr("tGroup");
            //console.info("Group Clicked " + tGroup);
            $("#tGroup").val(tGroup);
            var sMemberId1 = $("#g" + tGroup + "p1").attr("value")
            var sMemberId2 = $("#g" + tGroup + "p2").attr("value")
            var sMemberId3 = $("#g" + tGroup + "p3").attr("value")
            var sMemberId4 = $("#g" + tGroup + "p4").attr("value");
            //console.info("Members=" + sMemberId1 + ", " + sMemberId2
            //    + ", " + sMemberId3 + ", " + sMemberId4);
            if (sMemberId1 != "undefined") {
                //console.info("Setting sMemberId1 to " + sMemberId1);
                $("#sMemberId1").val(sMemberId1);
            }
            if (sMemberId2 != "undefined") {
                $("#sMemberId2").val(sMemberId2);
            }
            if (sMemberId3 != "undefined") {
                $("#sMemberId3").val(sMemberId3);
            }
            if (sMemberId4 != "undefined") {
                $("#sMemberId4").val(sMemberId4);
            }
            
            var m1 = $("#sMemberId1").val();
            //console.info("sMemberId1=" + m1);
        });
        $(document).ready(function () {
            //console.info("Live Index Document Ready");

            var g = $("#tGroup").val();
            //console.info("tGroup = *" + g + "*");
            if (g == "") {
                var gOfM = $("#gOfM").attr("value");
                if (gOfM != "undefined" && gOfM > "") {
                    //console.info("setting pGroup to Members group of "+gOfM)
                    g = gOfM;
                    $("#pGroup").val(parseInt(g));
                }
                else {
                    //console.info("defaulting tGroup to 1")
                    g = 1;
                }
                
            }

            var p = $("#tPlayer").val();
            if (p == "") {
                var pOfM = $("#pOfM").attr("value");
                if (pOfM != "undefined" && pOfM > "") {
                    //console.info("setting tPlayer to " + pOfM)
                    p = pOfM;
                }
                else {
                    //console.info("defaulting tGroup to 1")
                    p = 1;
                }
                $("#tPlayer").val(p);

            }

            //console.info("tGroup=" + g);
            var gid = "#list-group" + g + "-list";
            //console.info("triggering " + gid);

            $(gid).trigger("click");

            //console.info("Group 1 Player 1 = " + $("#g1p1").attr("value"));
        });


    </script>
}
