@using Pogi.Models.LiveViewModels
@model LiveSelectViewModel ;

@{
    ViewData["Title"] = "Live Tournament Scoring";
}
    <section class="container">
        <br />
        <h2>Live Scoring</h2>
        <h3>Select Group</h3>
        <hr />
        <section class="row">
            <div class="col">
                <form class="px-0" asp-action="Live" method="get">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Tour</span>
                        </div>
                        <select asp-for="TourId" asp-items="@Model.Tours" class="form-control"></select>
                        <div class="input-group-append">
                            <select asp-for="TourDate" asp-items="@Model.TourDates" class="form-control"></select>
                        </div>
                        <div class="input-group-addon">
                            <input hidden id="SetTour" type="submit" name="SetTour" value="SetTour" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <hr />

        @{
            TeeTimeInfo teeTimeInfo = Model.TeeTimeInfo;
            if (teeTimeInfo != null)
            {
                TeeTime teeTime = teeTimeInfo.TeeTime;
                String teeTimeDisp = teeTime.TeeTimeTS.ToString("f");
                Member member = teeTimeInfo.Member;
                Course course = teeTimeInfo.Course;
                var teeAssignInfos = teeTimeInfo.TeeAssignInfos;
                <section class="row">
                    <div class="col-4 alert-info px-3">
                        @Html.DisplayNameFor(model => course.CourseName)
                    </div>
                    <div class="col alert-secondary px-3">
                        @Html.DisplayFor(modelItem => course.CourseName)
                    </div>
                </section>
                <hr />

                int group = 0;
                DateTime startTime = teeTime.TeeTimeTS;
                    @for (int i = 0; i < teeTime.NumPlayers; i++)

                    {
                        if (teeTime.MajorTour && teeTime.NumPlayers > 4 && i % 4 == 0)
                        {
                            group++;
                            <div class="row input-group">
                                <div class="input-group-prepend alert-primary col-sm-4">
                                    Group @group
                                </div>
                                <div class="alert-primary col">
                                    Start Time: @startTime.ToShortTimeString()
                                </div>
                            </div>
                            startTime = startTime.AddMinutes(teeTime.TeeTimeInterval);
                        }
                        <div class="row input-group">
                            <div class="input-group-prepend col">
                                Player @(i + 1)
                            </div>

                            <div class="col text-dark">
                                @if (i < teeAssignInfos.Count)
                                {
                                    var teeAssignInfo = teeAssignInfos[i];
                                    @if (teeAssignInfo.TeeAsign.MemberId > 0)
                                    {
                                        @if (teeAssignInfo.TeeAsign.GuestName != null && teeAssignInfo.TeeAsign.GuestName.Length > 0)
                                        {
                                            <span>@teeAssignInfo.TeeAsign.GuestName</span>

                                        }
                                        else
                                        {
                                            <span>@teeAssignInfo.Member.FirstName</span>
                                            <span>@teeAssignInfo.Member.LastName</span>
                                            @if (teeAssignInfo.Member.CurrHandicap > 0)
                                            {
                                                <span>(@teeAssignInfo.Member.CurrHandicap)</span>
                                            }
                                            else
                                            {
                                                <span>(NH)</span>

                                            }
                                        }
                                    }
                                    else
                                    {
                                        <span class="text-muted">Unassigned</span>
                                    }
                                }
                                else
                                {
                                    <span class="text-muted">Unassigned</span>
                                }
                            </div>
                        </div>


                    }
                
            }
        }
        </section>






@section Scripts {
    <script>
        console.info("Hello From Live Scoring");

        $("#TourId").change(function () {
            console.info("TourId changed");
            $("#SetTour").trigger("click");
            $("#TourDate").val("");
        });
        $("#TourDate").change(function () {
            console.info("TourId changed");
            $("#SetTour").trigger("click");
        });


    </script>
}
