@using Pogi.Models.LiveViewModels
@model LiveSelectViewModel ;

@{
    ViewData["Title"] = "Live Tournament Scoring";
    int[] posP = { @ViewBag.posP1, ViewBag.posP2, ViewBag.posP3, ViewBag.posP4 };

}
    <section class="container">
        <br />
        <h5>Live Scoring</h5>
        <h6>Select Group</h6>
        <hr />
        <form class="px-0" asp-action="Live" method="get">
            <section class="row">
                <div class="col">
                    @*<form class="px-0" asp-action="Live" method="get">*@
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Tour</span>
                        </div>
                        <select asp-for="TourId" asp-items="@Model.Tours" class="form-control"></select>
                        <div class="input-group-append">
                            <select asp-for="TourDate" asp-items="@Model.TourDates" class="form-control"></select>
                        </div>
                        <div class="input-group-addon">
                            <input hidden id="SetTour" type="submit"
                                   formaction=@Url.Action("Index")
                                   name="SetTour" value="SetTour" class="btn btn-primary" />
                        </div>
                    </div>
                    @*</form>*@
                </div>
            </section>
            @*<hr />*@
            @{
                TeeTimeInfo teeTimeInfo = Model.TeeTimeInfo;
                if (teeTimeInfo != null)
                {
                    TeeTime teeTime = teeTimeInfo.TeeTime;
                    String teeTimeDisp = teeTime.TeeTimeTS.ToString("f");
                    Member member = teeTimeInfo.Member;
                    Course course = teeTimeInfo.Course;
                    var teeAssignInfos = teeTimeInfo.TeeAssignInfos;
                    <section class="row mt-2 mb-3 ">
                        <div class="col-4 alert-info px-3">
                            @Html.DisplayNameFor(model => course.CourseName)
                        </div>
                        <div class="col alert-secondary px-3">
                            @Html.DisplayFor(modelItem => course.CourseName)
                        </div>
                    </section>
                    @*<hr />*@
                    int group = 0;
                    DateTime startTime = teeTime.TeeTimeTS;
                    @if (teeTime.NumPlayers > 0)
                    {
                        <section class="row">
                            <div class="col-4">
                                <div class="list-group" id="list-tab" role="tablist">
                                    @for (int i = 0; i < teeTime.NumPlayers; i++)

                                    {
                                        @if (teeTime.MajorTour && i % 4 == 0)
                                        {
                                            group++;
                                            var opts = "active";
                                            @if (group > 1) { opts = ""; }
                                            <a class="list-group-item list-group-item-action btn-info px-2 @opts"
                                               id="list-group@(group)-list" sGroup="@(group)"
                                               data-toggle="list" href="#list-group@(group)" role="tab"
                                               aria-controls="group@(group)" tgroup="@(group)">
                                                <small>
                                                    Group @group
                                                    @startTime.ToShortTimeString()
                                                </small>
                                            </a>
                                            startTime = startTime.AddMinutes(teeTime.TeeTimeInterval);
                                        }

                                    }
                                </div>
                            </div>
                            @{group = 0;
                                startTime = teeTime.TeeTimeTS;
                            }
                        <div class="col-8 pl-0">
                            <div class="tab-content" id="nav-tabContent">

                                @for (int i = 0; i < teeTime.NumPlayers; i++)
                                    {
                                @if (teeTime.MajorTour && i % 4 == 0)
                                        {
                                            group++;
                                            startTime = startTime.AddMinutes(teeTime.TeeTimeInterval);

                                            var gOfMFound = "N";
                                            var opts = "fade show active";
                                @if (group > 1)
                                            {
                                                opts = "fade";
                                            }
                                <div class="tab-pane @opts" id="list-group@(group)" role="tabpanel"
                                     aria-labelledby="list-group@(group)-list">
                                    <table class="table table-hover">
                                        <thead class="thead-light">
                                            <tr class="row d-flex justify-content-end" scope="row">
                                                <th class="col-1 ml-1 text-center" scope="col">#</th>
                                                <th class="col-7 text-center" scope="col">Player</th>
                                                @if (Model.Tour.ScorerType.ToString().Contains("Ryder"))
                                                            {
                                                <th class="col text-center" scope="col">C-Hcp</th>
                                                            }
                                                            else {
                                                <th class="col text-center" scope="col">H.I.</th>
                                                            }
                                            </tr>
                                        </thead>
                                        <tbody class="d-flex flex-column">


                                            @for (int j = i; j < teeTime.NumPlayers && j < i + 4; j++)
                                                        {
                                                            string teamColor = "";
                                                            if (Model.Tour.ScorerType.ToString().Contains("Ryder"))
                                                            {
                                                                teamColor = "bg-danger text-light";
                                                                if (j % 4 < 2)
                                                                {
                                                                    teamColor = "bg-primary text-light";
                                                                }
                                                            }
                                            <tr id="order-G@(group)P@(j % 4+ 1)" scope="row" class="row order-@(posP[j % 4])">
                                                <td class="col-1 p@(j % 4 + 1)-num" sGroup="@(group)" sPlayer="@(j % 4 + 1)">
                                                    @(j % 4+ 1).
                                                </td>

                                                @if (j < teeAssignInfos.Count)
                                                                {
                                                                    var teeAssignInfo = teeAssignInfos[j];
                                                @if (teeAssignInfo != null && teeAssignInfo.TeeAsign != null
                                                                      && teeAssignInfo.TeeAsign.MemberId > 0)
                                                                    {
                                                <span id="g@(group)p@(j % 4 + 1)" value="@teeAssignInfo.Member.MemberId"></span>
                                                @if (gOfMFound == "N" &&
                                                                          Model.User.MemberId == teeAssignInfo.Member.MemberId)
                                                                        {
                                                <span id="pOfM" value="@(j % 4 + 1)"></span>
                                                <span id="gOfM" value="@group"></span>
                                                                            gOfMFound = "Y";
                                                                        }
                                                @if (teeAssignInfo.TeeAsign.GuestName != null && teeAssignInfo.TeeAsign.GuestName.Length > 0)
                                                                        {
                                                <td class="col-7 @(teamColor) p@(j % 4 + 1)-player text-left" sGroup="@(group)" sPlayer="@(j % 4 + 1)">
                                                    @teeAssignInfo.TeeAsign.GuestName
                                                </td>

                                                                        }
                                                                        else
                                                                        {
                                                <td class="col-7 @(teamColor) p@(j % 4 + 1)-player text-left" sGroup="@(group)" sPlayer="@(j % 4 + 1)">
                                                    @*<small>*@
                                                    @teeAssignInfo.Member.FirstName
                                                    @teeAssignInfo.Member.LastName
                                                    @*</small>*@
                                                </td>
                                                @if (teeAssignInfo.Member.CurrHandicap > 0)
                                                                            {
                                                <td class="col px-0 text-center">

                                                    <span style="display:block" id="g@(group)p@(j % 4 + 1)-handicap" class="p@(j % 4 + 1)-handicap" sGroup="@(group)" sPlayer="@(j % 4 + 1)">
                                                        @if (Model.Tour.ScorerType.ToString().Contains("Ryder"))
                                                                                        {
                                                                                            float HcpAllowPct = 100.0F;
                                                                                            float MultiAdj = 0.0F;
                                                                                            // HcpAllowPct = Model.Tour.HcpAllowPct;
                                                                                            float cHcpT = (teeAssignInfo.Member.CurrHandicap * Model.BaseCourseDetail.Slope / 113 - MultiAdj) * (HcpAllowPct / 100);
                                                                                            int cHcp = (int)Math.Round(cHcpT);

                                                        <label id="cHcp-g@(group)p@(j % 4+ 1)">@cHcp</label>
                                                                                        }
                                                                                        else
                                                                                        {
                                                        <label>@teeAssignInfo.Member.CurrHandicap</label>
                                                                                        }
                                                    </span>
                                                    <span style="display:none" id="g@(group)p@(j % 4 + 1)-move" class="p@(j % 4 + 1)-move">
                                                        <btn sGroup="@(group)" sPlayer="@(j % 4 + 1)" class="move-Up mx-0 mt-1 btn btn-sm btn-secondary"><i class="fa fa-angle-double-up"></i></btn>
                                                        <btn sGroup="@(group)" sPlayer="@(j % 4 + 1)" class="move-Down mx-0 mt-1 btn btn-sm btn-secondary"><i class="fa fa-angle-double-down"></i></btn>
                                                    </span>

                                                </td>
                                                                            }
                                                                            else
                                                                            {
                                                <td class="col px-0 text-center">
                                                    <span style="display:block" id="g@(group)p@(j % 4 + 1)-handicap" class="p@(j % 4 + 1)-handicap" sGroup="@(group)" sPlayer="@(j % 4 + 1)">
                                                        <label>(NH)</label>
                                                    </span>
                                                    <span style="display:none" id="g@(group)p@(j % 4 + 1)-move" class="p@(j % 4 + 1)-move">
                                                        <btn sPlayer="@(j % 4 + 1)" class="move-Up mx-0 mt-1 btn btn-sm btn-secondary"><i class="fa fa-angle-double-up"></i></btn>
                                                        <btn sPlayer="@(j % 4 + 1)" class="move-Down mx-0 mt-1 btn btn-sm btn-secondary"><i class="fa fa-angle-double-down"></i></btn>
                                                    </span>
                                                </td>
                                                                            }
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                <td class="col-7 p@(j % 4 + 1)-player text-muted text-left" sGroup="@(group)" sPlayer="@(j % 4 + 1)">
                                                    UnAssigned
                                                </td>
                                                <td class="col px-0 text-center">
                                                    <span style="display:block" id="g@(group)p@(j % 4 + 1)-handicap" class="p@(j % 4 + 1)-handicap" sGroup="@(group)" sPlayer="@(j % 4 + 1)">
                                                        <label>&nbsp;</label>
                                                    </span>
                                                    <span style="display:none" id="g@(group)p@(j % 4 + 1)-move" class="p@(j % 4 + 1)-move">
                                                        <btn sPlayer="@(j % 4 + 1)" class="move-Up mx-0 mt-1 btn btn-sm btn-secondary"><i class="fa fa-angle-double-up"></i></btn>
                                                        <btn sPlayer="@(j % 4 + 1)" class="move-Down mx-0 mt-1 btn btn-sm btn-secondary"><i class="fa fa-angle-double-down"></i></btn>
                                                    </span>
                                                </td>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                <td class="col-7 px-0 text-muted text-left">Unassigned</td>
                                                <td class="col px-0 text-center">
                                                    <span style="display:block" id="g@(group)p@(j % 4 + 1)-handicap" class="p@(j % 4 + 1)-handicap" sGroup="@(group)" sPlayer="@(j % 4 + 1)">
                                                        <label>&nbsp;</label>
                                                    </span>
                                                    <span style="display:none" id="g@(group)p@(j % 4 + 1)-move" class="p@(j % 4 + 1)-move">
                                                        <btn sPlayer="@(j % 4 + 1)" class="move-Up mx-0 mt-1 btn btn-sm btn-secondary"><i class="fa fa-angle-double-up"></i></btn>
                                                        <btn sPlayer="@(j % 4 + 1)" class="move-Down mx-0 mt-1 btn btn-sm btn-secondary"><i class="fa fa-angle-double-down"></i></btn>
                                                    </span>
                                                </td>
                                                                }

                                            </tr>
                                                        }

                                        </tbody>
                                    </table>
                                </div>
                                        }
                                    }


                            </div>
                            @if (Model.Tour.ScorerType.ToString().Contains("Ryder"))
                            {   
                            <div>
                                <label id="handicapMsg" class="d-block text-info text center mt-0 pr-1">
                                    Blue is playing even with Red
                                </label>
                            </div>
                            }
                        </div>
                        </section>
                        @if (!Model.Tour.ScorerType.ToString().Contains("Ryder"))
                        {
                            <section class="row d-flex justify-content-end">
                                <label id="selPlayerMsg" class="d-block text-info text center mt-0 pr-1"><small>Select player to move scorecard position</small></label>
                            </section>
                            <section class="row mt-1">
                                <div class="w-100">
                                    <button type="submit" formaction=@Url.Action("Score", "Live") ) class="col py-3 mt-0 d-block bg-primary text-light rounded">Select this Group and Score it Live</button>
                                </div>
                            </section>
                        }
                        else
                        {
                            <section class="row mt-1">
                                <div class="w-100">
                                    <button type="submit" formaction=@Url.Action("RyderCup", "Live") ) class="col py-3 mt-0 d-block bg-primary text-light rounded">Select this Group and Score it Live</button>
                                </div>
                            </section>
                        }


                    }

                }
            }
        <section>
            <input type="text" id="tGroup" name="tGroup" hidden />
            <input type="text" id="pGroup" name="pGroup" hidden />
            <input type="text" id="tPlayer" name="tPlayer" value="@ViewBag.tPlayer" hidden />
            <input type="text" id="tHole" name="tHole" value="@ViewBag.tHole" hidden />
            <input type="text" id="sMemberId1" name="sMemberId1" hidden />
            <input type="text" id="sMemberId2" name="sMemberId2" hidden />
            <input type="text" id="sMemberId3" name="sMemberId3" hidden />
            <input type="text" id="sMemberId4" name="sMemberId4" hidden />
            <input type="text" id="posP1" name="posP1" value="@ViewBag.posP1" hidden />
            <input type="text" id="posP2" name="posP2" value="@ViewBag.posP2" hidden />
            <input type="text" id="posP3" name="posP3" value="@ViewBag.posP3" hidden />
            <input type="text" id="posP4" name="posP4" value="@ViewBag.posP4" hidden />


            @if (Model.Tour.ScorerType.ToString().Contains("Ryder"))
            {
                <input type="text" id="cHcpDiff" name="cHcpDiff" hidden />
                <input type="text" id="hcpAllowPct" value="@Model.Tour.HcpAllowPct" hidden />
                <input type="text" id="rH1" name="rH1" value="@Model.rankedHoles[0]" hidden />
                <input type="text" id="rH2" name="rH2" value="@Model.rankedHoles[1]" hidden />
                <input type="text" id="rH3" name="rH3" value="@Model.rankedHoles[2]" hidden />
                <input type="text" id="rH4" name="rH4" value="@Model.rankedHoles[3]" hidden />
                <input type="text" id="rH5" name="rH5" value="@Model.rankedHoles[4]" hidden />
                <input type="text" id="rH6" name="rH6" value="@Model.rankedHoles[5]" hidden />
                <input type="text" id="rH7" name="rH7" value="@Model.rankedHoles[6]" hidden />
                <input type="text" id="rH8" name="rH8" value="@Model.rankedHoles[7]" hidden />
                <input type="text" id="rH9" name="rH9" value="@Model.rankedHoles[8]" hidden />
                <input type="text" id="rH10" name="rH10" value="@Model.rankedHoles[9]" hidden />
                <input type="text" id="rH11" name="rH11" value="@Model.rankedHoles[10]" hidden />
                <input type="text" id="rH12" name="rH12" value="@Model.rankedHoles[11]" hidden />
                <input type="text" id="rH13" name="rH13" value="@Model.rankedHoles[12]" hidden />
                <input type="text" id="rH14" name="rH14" value="@Model.rankedHoles[13]" hidden />
                <input type="text" id="rH15" name="rH15" value="@Model.rankedHoles[14]" hidden />
                <input type="text" id="rH16" name="rH16" value="@Model.rankedHoles[15]" hidden />
                <input type="text" id="rH17" name="rH17" value="@Model.rankedHoles[16]" hidden />
                <input type="text" id="rH18" name="rH18" value="@Model.rankedHoles[17]" hidden />
            }
        </section>
        </form>
    </section>

@section Scripts {
    <script>
        console.info("Hello From Live Select");
        $(".p1-player, .p2-player, .p3-player, .p4-player, .p1-num, .p2-num, .p3-num, .p4-num, " +
        ".p1-handicap, .p2-handicap, .p3-handicap, .p4-handicap").click(function () {
            var sGroup = $(this).attr("sGroup");
            var sPlayer = $(this).attr("sPlayer");
            console.info("Player " + sPlayer + " of Group " + sGroup + " selected");
            var gOfM = $("#gOfM").attr("value");
            if (gOfM == "undefined" || gOfM == "" || gOfM != sGroup) {
                console.info("Does not belong in this group, gOfM = *" + gOfM + "*");
                return;
            }
            var sP;
            for (sP = 1; sP <= 4; sP++) {
                if (sP == sPlayer) {
                    $("#g" + sGroup + "p" + sP + "-handicap").css("display", "none");
                    $("#g" + sGroup + "p" + sP + "-move").css("display", "block");    
                }
                else {
                    $("#g" + sGroup + "p" + sP + "-handicap").css("display", "block");
                    $("#g" + sGroup + "p" + sP + "-move").css("display", "none");   

                }
            }
        });
        $(".move-Down").click(function () {
            var sPlayer = $(this).attr("sPlayer");
            var sGroup = $(this).attr("sGroup");
            var selPlayerCurrPos = parseInt($("#posP" + sPlayer).val());
            var selPlayerNextPos = selPlayerCurrPos + 1;
            console.info("move-Down for group " + sGroup + ", player " + sPlayer + " from " + selPlayerCurrPos + " to " + selPlayerNextPos);
            var nextPlayerCurrPos = selPlayerNextPos;
            var nextPlayerNextPos = nextPlayerCurrPos - 1;
            console.info("player on pos " + nextPlayerCurrPos + " will move to " + nextPlayerNextPos);
            if (selPlayerNextPos <= 4) {
                for (oP = 1; oP <= 4; oP++) {
                    var posP = parseInt($("#posP" + oP).val());
                    console.info("oP=*" + oP + "*, posP=*" + posP + "*");
                    if (posP == selPlayerCurrPos) {
                        $("#posP" + oP).val(selPlayerNextPos);
                        console.info("setting curr player " + oP + " from " + selPlayerCurrPos + " to " + selPlayerNextPos);
                    }
                    else {
                        if (parseInt($("#posP" + oP).val()) == nextPlayerCurrPos) {
                            $("#posP" + oP).val(nextPlayerNextPos);
                            console.info("setting next player " + oP + " from " + nextPlayerCurrPos + " to " + nextPlayerNextPos);
                        }
                    }

                    
                }
                $("#order-G"+sGroup+"P1, #order-G"+sGroup+"P2, #order-G"+sGroup+"P3, #order-G"+sGroup+"P4").removeClass("order-1 order-2 order-3 order-4");
                $("#order-G"+sGroup+"P1").addClass("order-" + $("#posP1").val());
                $("#order-G"+sGroup+"P2").addClass("order-" + $("#posP2").val());
                $("#order-G"+sGroup+"P3").addClass("order-" + $("#posP3").val());
                $("#order-G"+sGroup+"P4").addClass("order-" + $("#posP4").val());
            }
        });
        $(".move-Up").click(function () {
            var sPlayer = $(this).attr("sPlayer");
            var sGroup = $(this).attr("sGroup");
            var selPlayerCurrPos = parseInt($("#posP" + sPlayer).val());
            var selPlayerNextPos = selPlayerCurrPos -1;
            console.info("move-Up for group " + sGroup + ",  player " + sPlayer + " from " + selPlayerCurrPos + " to " + selPlayerNextPos);
            var nextPlayerCurrPos = selPlayerNextPos;
            var nextPlayerNextPos = nextPlayerCurrPos + 1;
            console.info("player on pos " + nextPlayerCurrPos + " will move to " + nextPlayerNextPos);
            if (selPlayerNextPos >= 1) {
                for (oP = 1; oP <= 4; oP++) {
                    var posP = parseInt($("#posP" + oP).val());
                    console.info("oP=*" + oP + "*, posP=*" + posP + "*");
                    if (posP == selPlayerCurrPos) {
                        $("#posP" + oP).val(selPlayerNextPos);
                        console.info("setting curr player " + oP + " from " + selPlayerCurrPos + " to " + selPlayerNextPos);
                    }
                    else {
                        if (parseInt($("#posP" + oP).val()) == nextPlayerCurrPos) {
                            $("#posP" + oP).val(nextPlayerNextPos);
                            console.info("setting next player " + oP + " from " + nextPlayerCurrPos + " to " + nextPlayerNextPos);
                        }
                    }


                }
                $("#order-G"+sGroup+"P1, #order-G"+sGroup+"P2, #order-G"+sGroup+"P3, #order-G"+sGroup+"P4").removeClass("order-1 order-2 order-3 order-4");
                $("#order-G"+sGroup+"P1").addClass("order-" + $("#posP1").val());
                $("#order-G"+sGroup+"P2").addClass("order-" + $("#posP2").val());
                $("#order-G"+sGroup+"P3").addClass("order-" + $("#posP3").val());
                $("#order-G"+sGroup+"P4").addClass("order-" + $("#posP4").val());
            }
        });

        $("#TourId").change(function () {
            //console.info("TourId changed");
            $("#SetTour").trigger("click");
            $("#TourDate").val("");
        });
        $("#TourDate").change(function () {
            //console.info("TourId changed");
            $("#SetTour").trigger("click");
        });
        $(".list-group-item").click(function () {
            var tGroup = $(this).attr("tGroup");
            //console.info("Group Clicked " + tGroup);
            $("#tGroup").val(tGroup);
            var sMemberId1 = $("#g" + tGroup + "p1").attr("value")
            var sMemberId2 = $("#g" + tGroup + "p2").attr("value")
            var sMemberId3 = $("#g" + tGroup + "p3").attr("value")
            var sMemberId4 = $("#g" + tGroup + "p4").attr("value");
            //console.info("Members=" + sMemberId1 + ", " + sMemberId2
            //    + ", " + sMemberId3 + ", " + sMemberId4);
            if (sMemberId1 != "undefined") {
                //console.info("Setting sMemberId1 to " + sMemberId1);
                $("#sMemberId1").val(sMemberId1);
            }
            if (sMemberId2 != "undefined") {
                $("#sMemberId2").val(sMemberId2);
            }
            if (sMemberId3 != "undefined") {
                $("#sMemberId3").val(sMemberId3);
            }
            if (sMemberId4 != "undefined") {
                $("#sMemberId4").val(sMemberId4);
            }

            var cHcp1 = $("#cHcp-g" + tGroup + "p1").text();
            var cHcp2 = $("#cHcp-g" + tGroup + "p2").text();
            var cHcp3 = $("#cHcp-g" + tGroup + "p3").text();
            var cHcp4 = $("#cHcp-g" + tGroup + "p4").text();
            var hcpAllowPct = parseInt($("#hcpAllowPct").val());
            if (cHcp1 != "undefined" && cHcp1 > ""
                && cHcp2 != "undefined" && cHcp2 > "" 
                && cHcp3 != "undefined" && cHcp3 > ""
                && cHcp4 != "undefined" && cHcp4 > "")
            {
                //console.info("cHcp1=" + cHcp1 + " ,cHcp2=" + cHcp2 + " ,cHcp3=" + cHcp3 + ", cHcp4=" + cHcp4);
                var blueHcp = parseInt(cHcp1) + parseInt(cHcp2);
                var redHcp = parseInt(cHcp3) + parseInt(cHcp4);
                var handicapMsg = "Blue and Red are playing even";
                var diffHcp = Math.round(Math.abs(blueHcp - redHcp) * hcpAllowPct / 100);
                var rH1 = parseInt($("#rH1").val());
                var rH2 = parseInt($("#rH2").val());
                var rH3 = parseInt($("#rH3").val());
                var rH4 = parseInt($("#rH4").val());
                var rH5 = parseInt($("#rH5").val());
                var rH6 = parseInt($("#rH6").val());
                var rH7 = parseInt($("#rH7").val());
                var rH8 = parseInt($("#rH8").val());
                var rH9 = parseInt($("#rH9").val());
                var rH10 = parseInt($("#rH10").val());
                var rH11 = parseInt($("#rH11").val());
                var rH12 = parseInt($("#rH12").val());
                var rH13 = parseInt($("#rH13").val());
                var rH14 = parseInt($("#rH14").val());
                var rH15 = parseInt($("#rH15").val());
                var rH16 = parseInt($("#rH16").val());
                var rH17 = parseInt($("#rH17").val());
                var rH18 = parseInt($("#rH18").val());

                var rHoles = new Array(rH1, rH2, rH3, rH4, rH5, rH6, rH7, rH8, rH9,
                    rH10, rH11, rH12, rH13, rH14, rH15, rH16, rH17, rH18);
                var holesMsg = "";
                var strokeMsg = " stroke";
                if (diffHcp > 0) {
                    if (diffHcp > 1) {
                        holesMsg = " in Holes";
                        strokeMsg = " strokes";
                    }
                    else holesMsg = " in Hole";
                    for (i = 0; i < diffHcp; i++) {
                        holesMsg = holesMsg + " #" + rHoles[i];
                    }
                }
            
                console.info("diffHcp=" + diffHcp);
                if (blueHcp != redHcp) {
                    if (blueHcp > redHcp) {
                        handicapMsg = "Blue gets " + diffHcp + strokeMsg + holesMsg;
                    }
                    else {
                        handicapMsg = "Red gets " + diffHcp + strokeMsg + holesMsg;
                        diffHcp = -diffHcp;
                    }
                    
                }
                console.info("Setting handicapMsg=" + handicapMsg, ", cHcpDiff="+diffHcp);
                $("#handicapMsg").text(handicapMsg);
                $("#cHcpDiff").val(diffHcp);


            }

            var gOfM = $("#gOfM").attr("value");
            if (gOfM == "undefined" || gOfM == "" || gOfM != tGroup) {
                $("#selPlayerMsg").addClass("invisible");
                $("#selPlayerMsg").removeClass("visible");
            }
            else {
                $("#selPlayerMsg").addClass("visible");
                $("#selPlayerMsg").removeClass("invisible");
            }
            
            var m1 = $("#sMemberId1").val();
            //console.info("sMemberId1=" + m1);
        });
        $(document).ready(function () {
            //console.info("Live Index Document Ready");

            var g = $("#tGroup").val();
            //console.info("tGroup = *" + g + "*");
            if (g == "") {
                var gOfM = $("#gOfM").attr("value");
                if (gOfM != "undefined" && gOfM > "") {
                    //console.info("setting pGroup to Members group of "+gOfM)
                    g = gOfM;
                    $("#pGroup").val(parseInt(g));
                }
                else {
                    //console.info("defaulting tGroup to 1")
                    g = 1;
                }
                
            }

            var p = $("#tPlayer").val();
            console.info("Live: received tPlayer=" + p)
            if (p == "") {
                var pOfM = $("#pOfM").attr("value");
                if (pOfM != "undefined" && pOfM > "") {
                    console.info("Live: setting tPlayer to " + pOfM)
                    p = pOfM;
                }
                else {
                   console.info("Live: defaulting tPlayer to 1")
                    p = 1;
                }
                $("#tPlayer").val(p);

            }

            var h = $("#tHole").val();
            console.info("Live: received tHole=" + h)
            if (h == "") {
                var hOfM = $("#hOfM").attr("value");
                if (hOfM != "undefined" && hOfM > "") {
                    console.info("Live: setting tHole to " + hOfM)
                    h = hOfM;
                }
                else {
                    console.info("Live: defaulting tHole to 1")
                    h = 1;
                }
                $("#tHole").val(h);

            }

            //console.info("tGroup=" + g);
            var gid = "#list-group" + g + "-list";
            //console.info("triggering " + gid);

            $(gid).trigger("click");

            //console.info("Group 1 Player 1 = " + $("#g1p1").attr("value"));
        });


    </script>
}
