@using Pogi.Models.LiveViewModels
@using Pogi.Entities
@inject Pogi.Services.ICourseDetail _courseDetail
@inject Pogi.Services.IHandicap _handicap
@inject Pogi.Services.ITourInfo _tourInfo
@model LiveLeaderBoardViewModel ;

<br />
@{
    ViewData["Title"] = "Live";
}


<section class="container">
    <section class="row">
        <span class="col-3 px-0 mx-1  d-flex justify-content-center align-items-center">
            <small><strong>@Model.Tour.TourName</strong></small>
        </span>
        <ul class="nav col">
            <li class="nav-item mx-0">
                <a class="nav-link active" asp-controller="Live" asp-action="Score"
                   asp-route-TourId="@ViewBag.TourId" asp-route-TourDate="@ViewBag.TourDate"
                   asp-route-memberId="@ViewBag.memberId" asp-route-tGroup="@ViewBag.tGroup" asp-route-pGroup="@ViewBag.pGroup"
                   asp-route-sMemberId1="@ViewBag.sMemberId1" asp-route-sMemberId2="@ViewBag.sMemberId2"
                   asp-route-sMemberId3="@ViewBag.sMemberId3" asp-route-sMemberId4="@ViewBag.sMemberId4">Score</a>
            </li>
            <li class="nav-item mx-0">
                <a class="nav-link" href="#">Leaders</a>
            </li>
            <li class="nav-item mx-0">
                <a class="nav-link" asp-area="" asp-controller="Live" asp-action="Index">Groups</a>
            </li>
        </ul>
    </section>
</section>


<section class="container-fluid">

    <div id="toolbar">
        <div class="form-inline" role="form">
            @*<div class="form-group">
                    <span>Offset: </span>
                    <input name="offset" class="form-control w70" type="number" value="0">
                </div>
                <div class="form-group">
                    <span>Limit: </span>
                    <input name="limit" class="form-control w70" type="number" value="5">
                </div>*@
            @*<button id="ok" type="submit" class="btn btn-default">OK</button>*@
        </div>
    </div>

    @{var sortName = "scoreDate";
        var sortOrder = "desc";
        var dataPagination = "true";
        if (Model.TourId != "0")
        {
            sortName = "Round";
            sortOrder = "asc";
            dataPagination = "false";

        }
    }
    <table id="table"
           data-toolbar="#toolbar"
           data-toggle="table"
           data-search="false"
           data-striped="true"
           data-pagination="@dataPagination"
           data-sort-name="@sortName"
           data-sort-order="@sortOrder"
           data-remember-order="true"
           data-sort-stable="true">
        <thead>
            <tr>
                @*<th class="col-md-2" data-field="scoreDate" data-sortable="true">Date</th>
                    <th class="col-md-2" data-field="courseName" data-sortable="false">Course</th>*@
                <th class="col-md-2" data-field="memberName" data-sortable="false">Member</th>
                <th class="col-md-1" data-field="holeTotal" data-sortable="true">Gross</th>
                <th class="col-md-1" data-field="Round" data-sortable="true">Round</th>
                <th class="col-md-1" data-field="Birdies" data-sortable="true">Birdies</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ScoreInfos)
            {
                Score score = item.Score;
                Member member = item.Member;
                Course course = item.Course;
                CourseDetail CourseDetail = _courseDetail.get(course.CourseId, score.Color);
                var toPar = (score.HoleTotal - course.ParTotal).ToString("+0;-#");
                Handicap Handicap = _handicap.getHandicapForDate(score.MemberId, score.ScoreDate);
                var courseHandicap = "s36";
                if (Handicap != null && Handicap.HcpIndex >= 0)
                {
                    courseHandicap = ((int)Math.Round(Handicap.HcpIndex * CourseDetail.Slope / 113)).ToString();
                }
                var courseHandicapT = "n/a";
                Tour Tour = null;
                if (score.TourEvent == true)
                {
                    courseHandicapT = "s36";
                    if (Handicap != null && Handicap.HcpIndex >= 0)
                    {
                        Tour = _tourInfo.getTour(score.TourId);
                        courseHandicapT = ((int)Math.Round(Handicap.HcpIndex * (Tour.HcpAllowPct / 100)
                            * CourseDetail.Slope / 113)).ToString();
                    }
                }

                <tr>
                    @{
                        DateTime scoreDateTime = score.ScoreDate;
                        String scoreDateDisp = scoreDateTime.ToString("yyyy MM/dd");
                    }

                    @*<td class="col-md-2">@scoreDateDisp</td>
                        <td class="col-md-2">@course.CourseName</td>*@
                    <td class="col-md-2">@member.FirstName @member.LastName</td>
                    <td class="col-md-1">@score.HoleTotal</td>
                    <td class="col-md-1">@score.Round</td>
                    <td class="col-md-1">@score.Birdies</td>
                </tr>

            }
        </tbody>
    </table>

</section>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        $(Document).ready(function () {
            console.info("Hello From Live LeaderBoard");
        });

        var $table = $('#table'),
            $ok = $('#ok');
        $(function () {
            $ok.click(function () {
                console.info("Refreshing");
                $table.bootstrapTable('refresh');
            });
        });
        $("#TourId").change(function () {
            console.info("TourId changed");
            $("#SetTour").trigger("click");
            $("#TourDate").val("");
        });
        $("#TourDate").change(function () {
            console.info("TourId changed");
            $("#SetTour").trigger("click");
        });

        function queryParams() {
            var params = {};
            $('#toolbar').find('input[name]').each(function () {
                params[$(this).attr('name')] = $(this).val();
            });
            return params;
        }
        function responseHandler(res) {
            return r0es.rows;
        }
        $('#table').bootstrapTable({
            onLoadSuccess: function (data) {
                // ...
            }
        });

        $('#table').on('load-success.bs.table', function (e, data) {
            console.info("Hello From load-sucess.ba.table");
            // ...
        });

    </script>

}
