@using Pogi.Models.LiveViewModels
@using Pogi.Entities

@model LiveMapHoleViewModel ;

<br />
@{
    ViewData["Title"] = "Map Hole";
}
<section class="container-fluid">
    <section class="row justify-content-start">
        <span class="col-3 px-1 mx-1 d-flex align-items-center">
            <small><strong>@Model.Tour.TourName</strong></small>
        </span>
        <ul class="nav col-9 row justify-content-start">
            <li class="nav-item mx-0">
                <a class="nav-link active" asp-controller="Live" asp-action="Score"
                   asp-route-TourId="@ViewBag.TourId" asp-route-TourDate="@ViewBag.TourDate"
                   asp-route-memberId="@ViewBag.memberId" asp-route-tGroup="@ViewBag.tGroup" asp-route-pGroup="@ViewBag.pGroup"
                   asp-route-sMemberId1="@ViewBag.sMemberId1" asp-route-sMemberId2="@ViewBag.sMemberId2"
                   asp-route-sMemberId3="@ViewBag.sMemberId3" asp-route-sMemberId4="@ViewBag.sMemberId4"
                   asp-route-posP1="@ViewBag.posP1" asp-route-posP2="@ViewBag.posP2"
                   asp-route-posP3="@ViewBag.posP3" asp-route-posP4="@ViewBag.posP4">Score</a>
            </li>
            <li class="nav-item px-0 mx-0">
                <a class="nav-link " asp-controller="Live" asp-action="Leaderboard"
                   asp-route-TourId="@ViewBag.TourId" asp-route-TourDate="@ViewBag.TourDate"
                   asp-route-memberId="@ViewBag.memberId" asp-route-tGroup="@ViewBag.tGroup" asp-route-pGroup="@ViewBag.pGroup"
                   asp-route-sMemberId1="@ViewBag.sMemberId1" asp-route-sMemberId2="@ViewBag.sMemberId2"
                   asp-route-sMemberId3="@ViewBag.sMemberId3" asp-route-sMemberId4="@ViewBag.sMemberId4"
                   asp-route-posP1="@ViewBag.posP1" asp-route-posP2="@ViewBag.posP2"
                   asp-route-posP3="@ViewBag.posP3" asp-route-posP4="@ViewBag.posP4">Leaders</a>
            </li>
            <li class="nav-item px-0 mx-0">
                <a class="nav-link" asp-area="" asp-controller="Live" asp-action="Index"
                   asp-route-posP1="@ViewBag.posP1" asp-route-posP2="@ViewBag.posP2"
                   asp-route-posP3="@ViewBag.posP3" asp-route-posP4="@ViewBag.posP4">Groups</a>
            </li>
        </ul>
    </section>

    <section class="container">
        <section class="row btn bg-warning text-dark d-block">
            Hole  @Model.Hole:&nbsp;
            <span id="msg" class=""></span>
        </section>
        <section class="row" id="map" style="height: 500px"></section>
        <section class="d-flex flex-nowrap row">
            <label id="prevHole" class="col btn btn-info text-light text-center py-2 px-2 mt-1 mx-1 mb-1 border">
                Prev Hole
            </label>
            <label id="refresh" class="col btn btn-info text-light text-center py-2 px-2 mt-1 mx-1 mb-1 border">
                Refresh
            </label>
            <label id="refresh" class="col btn btn-info text-light text-center py-2 px-2 mt-1 mx-1 mb-1 border">
                Next Hole
            </label>
        </section>
    </section>
    



    @section Scripts {


        <script src="https://polyfill.io/v3/polyfill.min.js?features=default">

        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqYaBYbtWxo7HDPzBTGZVU-dGQ9yNAy80&callback=initMap&libraries=&v=weekly"
                defer>

        </script>

        <script>
        (function (exports) {
            "use strict";

            var map;
            var markers = [];

            function haversine_distance(mk1, mk2) {
                var R = 3958.8; // Radius of the Earth in miles
                var rlat1 = mk1.position.lat() * (Math.PI / 180); // Convert degrees to radians
                var rlat2 = mk2.position.lat() * (Math.PI / 180); // Convert degrees to radians
                var difflat = rlat2 - rlat1; // Radian difference (latitudes)
                var difflon = (mk2.position.lng() - mk1.position.lng()) * (Math.PI / 180); // Radian difference (longitudes)

                var d = Math.round(1760 * 2 * R * Math.asin(Math.sqrt(Math.sin(difflat / 2) * Math.sin(difflat / 2) + Math.cos(rlat1) * Math.cos(rlat2) * Math.sin(difflon / 2) * Math.sin(difflon / 2))));
                return Math.trunc(d);
            }

            function initMap() {

                //var Lat = 40.460426;
                //var Lng = -74.640557;
                //var InitLat = 40.461444;
                //var InitLng = -74.640231;
                //var Hdg = 180;
                //var Zoom = 18;

                //Lat = 40.462924;
                //Lng = -74.640620;
                //InitLat = 40.461695;
                //InitLng = -74.640909;
                //Hdg = 20;
                //Zoom = 18;

                //Lat = 40.461311;
                //Lng = -74.641654;
                //InitLat = 40.461874;
                //InitLng = -74.641596;
                //Hdg = 180;
                //Zoom = 19;
                ////4
                //Lat = 40.461811;
                //Lng = -74.644780;
                //InitLat = 40.461395;
                //InitLng = -74.643329;
                //Hdg = 270;
                //Zoom = 18;
                ////5
                //Lat = 40.465163;
                //Lng = -74.647966;
                //InitLat = 40.464206;
                //InitLng = -74.647461;
                //Hdg = 25;
                //Zoom = 18;
                ////6
                //Lat = 40.465987;
                //Lng = -74.645733;
                //InitLat = 40.465997;
                //InitLng = -74.646530;
                //Hdg = 100;
                //Zoom = 19;
                ////7
                //Lat = 40.465030;
                //Lng = -74.640350;
                //InitLat = 40.465126;
                //InitLng = -74.641938;
                //Hdg = 100;
                //Zoom = 18;
                ////8
                //Lat = 40.465239;
                //Lng = -74.645198;
                //InitLat = 40.464948;
                //InitLng = -74.644096;
                //Hdg = 270;
                //Zoom = 18;
                ////9
                //Lat = 40.463770;
                //Lng = -74.641090;
                //InitLat = 40.463973;
                //InitLng = -74.642615;
                //Hdg = 90;
                //Zoom = 18;
                ////10
                //Lat = 40.464268;
                //Lng = -74.645130;
                //InitLat = 40.463711;
                //InitLng = -74.643821;
                //Hdg = 270;
                //Zoom = 18;
                ////11
                //Lat = 40.465370;
                //Lng = -74.646352;
                //InitLat = 40.465113;
                //InitLng = -74.645809;
                //Hdg = 260;
                //Zoom = 19;
                ////12
                //Lat = 40.462386;
                //Lng = -74.642025;
                //InitLat = 40.462751;
                //InitLng = -74.643389;
                //Hdg = 90;
                //Zoom = 18;
                ////13
                //Lat = 40.462309;
                //Lng = -74.644432;
                //InitLat = 40.462147;
                //InitLng = -74.643588;
                //Hdg = 270;
                //Zoom = 18;
                ////14
                //Lat = 40.465359;
                //Lng = -74.647264;
                //InitLat = 40.464367;
                //InitLng = -74.646854;
                //Hdg = 360;
                //Zoom = 18;
                ////15
                //Lat = 40.461815;
                //Lng = -74.646648;
                //InitLat = 40.462381;
                //InitLng = -74.647321;
                //Hdg = 180;
                //Zoom = 18;
                ////16
                //Lat = 40.460478;
                //Lng = -74.642071;
                //InitLat = 40.460826;
                //InitLng = -74.643633;
                //Hdg = 90;
                //Zoom = 18;
                ////17
                //Lat = 40.459454;
                //Lng = -74.639238;
                //InitLat = 40.459880;
                //InitLng = -74.640857;
                //Hdg = 90;
                //Zoom = 18;

                ////18
                //Lat = 40.463102;
                //Lng = -74.638960;
                //InitLat = 40.462028;
                //InitLng = -74.638374;
                //Hdg = 0;
                //Zoom = 18;

                var Lat = @Model.Lat;
                var Lng = @Model.Lng;
                var InitLat = @Model.InitLat;
                var InitLng = @Model.InitLng;
                var Zoom = @Model.Zoom;
                var Hdg = @Model.Hdg;

                var pPosn = { lat: InitLat, lng: InitLng };
                var gPosn = { lat: Lat, lng: Lng };
                map = new google.maps.Map(document.getElementById("map"), {
                    center: {
                        lat: InitLat,
                        lng: InitLng
                    },
                    zoom: Zoom,
                    streetViewControl: false,
                    mapTypeId: "satellite",
                    mapTypeControl: false,
                    heading: Hdg,
                    minZoom: 18,
                    tilt: 45,
                    rotateControl: false,
                    rotateControlOptions: {
                        ControPosition: google.maps.ControlPosition.LEFT_TOP
                    }
                });

                var line = new google.maps.Polyline({
                    path: [pPosn, gPosn],
                    map: map,
                    strokeColor: "#00ff00",
                    strokeOpacity: .5,
                    strokeWeight: 2
                });
                var mk1 = new google.maps.Marker({
                    position: pPosn,
                    map: map,
                    icon: {
                        url: "http://maps.google.com/mapfiles/kml/pal3/icon28.png"
                        //url: "http://maps.google.com/mapfiles/kml/pal2/icon13.png"
                    }
                });
                var mk2 = new google.maps.Marker({
                    position: gPosn,
                    map: map,
                    icon: {
                        url: "http://maps.google.com/mapfiles/kml/pal2/icon13.png"
                    }
                });
                var distance = haversine_distance(mk1, mk2);
                document.getElementById('msg').innerHTML = "<strong>" + distance + " Yards</strong> to Center of Green";
                //mk2.setMap(null);


                exports.map = map;

            }

            exports.initMap = initMap;
        })((this.window = this.window || {}));
        </script>

        <script>

            $(document).ready(function () {
                console.info("MapHole Document Ready");
            });

        </script>

    }
