@using Microsoft.AspNetCore.Http
@using Pogi.Models.MemberViewModel
@model MemberDisplayViewModel
@inject UserManager<ApplicationUser> userManager
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor

@{
    ViewData["Title"] = "Index";
    Microsoft.AspNetCore.Http.ISession _session = httpContextAccessor.HttpContext.Session;
    var search = _session.GetString("SearchMemberName");
}
<br />
<div class="container">
    <h2>Manage Members</h2>
    <h4>Directory</h4>
    <hr />
    <div class="container-fluid ">
        <form asp-action="Index">
            <div class="row">
                <div class="col-md-2">
                    @if (User.IsInRole("AdminRoot") || User.IsInRole("AdminCourse"))
                    {
                        <a asp-action="Create">Create New</a>
                    }
                    else
                    {
                        <span class="text-primary">Display Only</span>

                    }
                </div>
                <div class="col">
                    <div class="input-group">

                        @if (Model.dispMembers == true)
                        {
                            <button id="btnMembers" type="button" class="btn btn-primary">
                                Members
                            </button>
                        }
                        else
                        {
                            <button id="btnMembers" type="button" class="btn btn-light">
                                Members
                            </button>

                        }

                        <input hidden id="dispMembers" asp-for="dispMembers" class="form-control" />

                        @if (Model.dispGuests == true)
                        {
                            <button id="btnGuests" type="button" class="btn btn-primary">
                                Guests
                            </button>
                        }
                        else
                        {
                            <button id="btnGuests" type="button" class="btn btn-light">
                                Guests
                            </button>

                        }

                        <input hidden id="dispGuests" asp-for="dispGuests" class="form-control " />
                        <div class="input-group-addon">
                            <input hidden id="List" type="submit" name="List" value="List" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4 input-group">
                    <input name="search" class="form-control" type="text" placeholder="Search LastName or FirstName" value="@search">

                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            @foreach (var item in Model.Members)
            {

                <hr />
                <div class="row">
                    <div class="alert-info col-md-2">
                        Name
                    </div>
                    <div class="col-md-4">
                        @(Html.DisplayFor(modelItem => item.LastName)),
                        @(Html.DisplayFor(modelItem => item.FirstName))

                    </div>
                    <div class="alert-info col-md-2">
                        Marital / Gender
                    </div>
                    <div class="col-md-4">
                        @(Html.DisplayFor(modelItem => item.MaritalStatus)) /
                        @(Html.DisplayFor(modelItem => item.Gender))
                    </div>
                </div>
                <div class="row">
                    <div class="alert-info col-md-2">
                        @Html.DisplayNameFor(model => item.Phone1st)
                    </div>
                    <div class="col-md-4">
                        @(Html.DisplayFor(modelItem => item.Phone1st))
                        @(Html.DisplayFor(modelItem => item.Phone1stType))
                    </div>
                    <div class="alert-info col-md-2">
                        @Html.DisplayNameFor(model => item.Phone2nd)
                    </div>
                    <div class="col-md-4">
                        @(Html.DisplayFor(modelItem => item.Phone2nd))
                        @(Html.DisplayFor(modelItem => item.Phone2ndType))
                    </div>
                </div>
                <div class="row">
                    <div class="alert-info col-md-2">
                        Email Addresses
                    </div>
                    <div class="col-md-4">
                        @(Html.DisplayFor(modelItem => item.EmailAddr1st))
                        @(Html.DisplayFor(modelItem => item.EmailAddr2nd))
                    </div>
                    <div class="alert-info col-md-2">
                        Member Status
                    </div>
                    <div class="col-md-4">
                        @(Html.DisplayFor(modelItem => item.RecordStatus)) /
                        @(Html.DisplayFor(modelItem => item.MemberType))
                    </div>
                </div>
                <div class="row">
                    <div class="alert-info col-md-2">
                        Address
                    </div>
                    <div class="col-md-9">
                        @Html.DisplayFor(modelItem => item.Street)
                        @Html.DisplayFor(modelItem => item.City),
                        @Html.DisplayFor(modelItem => item.State)
                        @Html.DisplayFor(modelItem => item.Zip)
                        @Html.DisplayFor(modelItem => item.Country)
                    </div>
                </div>
                <div class="row">
                    <div class="alert-info col-md-2">
                        @Html.DisplayNameFor(modelItem => item.Profession)
                    </div>
                    <div class="col-md-4">
                        @Html.DisplayFor(modelItem => item.Profession)
                    </div>
                    <div class="alert-info col-md-2">
                        GHIN / Handicap
                    </div>
                    <div class="col-md-4">
                        @(Html.DisplayFor(modelItem => item.GhinNumber)) /
                        @if (item.CurrHandicap > 0)
                        {
                            @(Html.DisplayFor(modelItem => item.CurrHandicap)) ;
                        }
                        else
                        {
                            <span>NH</span>

                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    @if (User.IsInRole("AdminRoot") || User.IsInRole("AdminUser"))
                    {
                        <div class="col-md-10">
                            <a data-toggle="tooltip" title="Edit Member" asp-action="Edit" asp-route-id="@item.MemberId">&#x270f;</a>&nbsp;|&nbsp;
                            <a data-toggle="tooltip" title="Edit Profile" asp-controller="Profile" asp-action="Edit" asp-route-id="@item.MemberId" class="fa fa-user"></a>&nbsp;| &nbsp;
                            @*<a asp-action="Details" asp-route-id="@item.MemberId">Details</a> |*@
                            <a data-toggle="tooltip" title="Maintain Handicap" asp-controller="Handicap" asp-action="Index" asp-route-id="@item.MemberId" class="fa fa-wheelchair"></a>&nbsp;| &nbsp;
                            <a data-toggle="tooltip" title="Delete Member" asp-action="Delete" asp-route-id="@item.MemberId" class="fa fa-trash"></a>
                        </div>
                    }
                </div>

            }
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        console.info("Hello Member");

        $("#btnMembers").click(function () {

            var button = $(this);
            if (button.hasClass("btn-primary")) {
                button.removeClass("btn-primary");
                button.addClass("btn-light");
                $("#dispMembers").removeAttr("checked");
                $("#dispMembers").val = false;
            }
            else {
                button.removeClass("btn-light");
                button.addClass("btn-primary");
                $("#dispMembers").attr("checked", "checked");
                $("#dispMembers").val = true;
            }
            $("#List").trigger("click");
        });
        $("#btnGuests").click(function () {

            var button = $(this);
            if (button.hasClass("btn-primary")) {
                button.removeClass("btn-primary");
                button.addClass("btn-light");
                $("#dispGuests").removeAttr("checked");
                $("#MispGuests").val = false;
            }
            else {
                button.removeClass("btn-light");
                button.addClass("btn-primary");
                $("#dispGuests").attr("checked", "checked");
                $("#dispGuests").val = true;
            }
            $("#List").trigger("click");
        });

    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

