@model IEnumerable<Pogi.Entities.Tour>
@inject UserManager<ApplicationUser> userManager
@{
    ViewData["Title"] = "Index";
}
<br />
<h2>Tour</h2>
<h3>Index</h3>

<p>
    @if (User.IsInRole("AdminRoot") || User.IsInRole("AdminScore") || User.IsInRole("AdminTour"))
    {
        <a asp-action="Create">Create New</a>
    }
    else
    {
        <span class="text-primary">Display Only</span>

    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TourName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HcpAllowPct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TourType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScorerType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TourDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TourName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HcpAllowPct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TourType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScorerType)
                </td>
                <td>
                    @if (item.TourType == TourType.MultiDay)
                    {
                        if (User.IsInRole("AdminRoot") || User.IsInRole("AdminScore") || User.IsInRole("AdminTour"))
                        {


                            <a asp-action="Index" asp-controller="TourDay" asp-route-id="@item.TourId">Maintain</a>


                        }
                        else
                        {

                            <a asp-action="Index" asp-controller="TourDay" asp-route-id="@item.TourId">List Dates</a>

                        }
                    }
                    else
                    {

                        @Html.DisplayFor(modelItem => item.TourDate)

                    }
                </td>
                @if (User.IsInRole("AdminRoot") || User.IsInRole("AdminScore") || User.IsInRole("AdminTour"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.TourId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.TourId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.TourId">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
