@model Pogi.Entities.CourseHandicap

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CourseHandicap</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MenHcp01)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MenHcp01)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MenHcp02)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MenHcp02)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MenHcp03)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MenHcp03)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MenHcp04)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MenHcp04)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MenHcp05)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MenHcp05)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MenHcp06)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MenHcp06)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MenHcp07)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MenHcp07)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MenHcp08)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MenHcp08)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MenHcp09)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MenHcp09)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MenHcp10)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MenHcp10)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MenHcp11)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MenHcp11)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MenHcp12)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MenHcp12)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MenHcp13)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MenHcp13)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MenHcp14)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MenHcp14)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MenHcp15)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MenHcp15)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MenHcp16)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MenHcp16)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MenHcp17)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MenHcp17)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MenHcp18)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MenHcp18)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LadiesHcp01)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LadiesHcp01)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LadiesHcp02)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LadiesHcp02)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LadiesHcp03)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LadiesHcp03)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LadiesHcp04)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LadiesHcp04)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LadiesHcp05)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LadiesHcp05)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LadiesHcp06)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LadiesHcp06)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LadiesHcp07)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LadiesHcp07)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LadiesHcp08)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LadiesHcp08)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LadiesHcp09)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LadiesHcp09)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LadiesHcp10)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LadiesHcp10)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LadiesHcp11)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LadiesHcp11)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LadiesHcp12)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LadiesHcp12)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LadiesHcp13)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LadiesHcp13)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LadiesHcp14)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LadiesHcp14)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LadiesHcp15)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LadiesHcp15)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LadiesHcp16)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LadiesHcp16)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LadiesHcp17)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LadiesHcp17)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LadiesHcp18)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LadiesHcp18)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CourseHandicapId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
