@model Pogi.Models.ScoreViewModels.ScoreCreateViewModel
<section>
    <div class="form-row">
        <input type="hidden" asp-for="ScoreId" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col col-md-4">
            <div class="form-group">
                <label asp-for="ScoreDate" class="control-label"></label>
                <input asp-for="ScoreDate" type="datetime" asp- class="form-control" />
                <span asp-validation-for="ScoreDate" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col col-md-4">
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <select asp-for="MemberId" asp-items="@Model.Members" class="form-control"></select>
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col col-md-4">
            <div class="form-group">
                <label asp-for="CourseId" class="control-label"></label>
                <select asp-for="CourseId" asp-items="@Model.Courses" class="form-control"></select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col col-md-4">
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <select asp-for="Color" asp-items="@Model.Colors" class="form-control"></select>
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="form-row">
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole01" class="control-label"></label>
                <input asp-for="@Model.Hole01" class="parOut form-control" />
                <span asp-validation-for="@Model.Hole01" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole02" class="control-label"></label>
                <input asp-for="@Model.Hole02" class="parOut form-control" />
                <span asp-validation-for="@Model.Hole02" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole03" class="control-label"></label>
                <input asp-for="@Model.Hole03" class="parOut form-control" />
                <span asp-validation-for="@Model.Hole03" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole04" class="control-label"></label>
                <input asp-for="@Model.Hole04" class="parOut form-control" />
                <span asp-validation-for="@Model.Hole04" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole05" class="control-label"></label>
                <input asp-for="@Model.Hole05" class="parOut form-control" />
                <span asp-validation-for="@Model.Hole05" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole06" class="control-label"></label>
                <input asp-for="@Model.Hole06" class="parOut form-control" />
                <span asp-validation-for="@Model.Hole06" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole07" class="control-label"></label>
                <input asp-for="@Model.Hole07" class="parOut form-control" />
                <span asp-validation-for="@Model.Hole07" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole08" class="control-label"></label>
                <input asp-for="@Model.Hole08" class="parOut form-control" />
                <span asp-validation-for="@Model.Hole08" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole09" class="control-label"></label>
                <input asp-for="@Model.Hole09" class="parOut form-control" />
                <span asp-validation-for="@Model.Hole09" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-sm-2">
                <label asp-for="@Model.HoleOut" class="control-label"></label>
                <input readonly="readonly" asp-for="@Model.HoleOut" class="form-control" />
                <span asp-validation-for="@Model.HoleOut" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="form-row">
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole10" class="control-label"></label>
                <input asp-for="@Model.Hole10" class="parIn form-control" />
                <span asp-validation-for="@Model.Hole10" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole11" class="control-label"></label>
                <input asp-for="@Model.Hole11" class="parIn form-control" />
                <span asp-validation-for="@Model.Hole11" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole12" class="control-label"></label>
                <input asp-for="@Model.Hole12" class="parIn form-control" />
                <span asp-validation-for="@Model.Hole12" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole13" class="control-label"></label>
                <input asp-for="@Model.Hole13" class="parIn form-control" />
                <span asp-validation-for="@Model.Hole13" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole14" class="control-label"></label>
                <input asp-for="@Model.Hole14" class="parIn form-control" />
                <span asp-validation-for="@Model.Hole14" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole15" class="control-label"></label>
                <input asp-for="@Model.Hole15" class="parIn form-control" />
                <span asp-validation-for="@Model.Hole15" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole16" class="control-label"></label>
                <input asp-for="@Model.Hole16" class="parIn form-control" placeholder="01" />
                <span asp-validation-for="@Model.Hole16" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole17" class="control-label"></label>
                <input asp-for="@Model.Hole17" class="parIn form-control" />
                <span asp-validation-for="@Model.Hole17" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole18" class="control-label"></label>
                <input asp-for="@Model.Hole18" class="parIn form-control" />
                <span asp-validation-for="@Model.Hole18" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-2">
                <label asp-for="@Model.HoleIn" class="control-label"></label>
                <input readonly="readonly" asp-for="@Model.HoleIn" class="form-control" />
                <span asp-validation-for="@Model.HoleIn" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-2">
                <label asp-for="@Model.HoleTotal" class="control-label"></label>
                <input readonly="readonly" asp-for="@Model.HoleTotal" class="form-control" />
                <span asp-validation-for="@Model.HoleTotal" class="text-danger"></span>
            </div>
        </div>

    </div>



    <div class="row">
        <div class="col col-md-4">
            <div class="form-group">
                <input type="submit" value="@ViewData["Save"]" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Cancel</a>
            </div>
        </div>
    </div>
</section>