@model Pogi.Models.ScoreViewModels.ScoreCreateViewModel
<section>
    <div class="form-row">
        <input type="hidden" asp-for="ScoreId" />
        <input type="hidden" asp-for="@Model.EnteredBy.MemberId" />
        <input type="hidden" asp-for="@Model.EnteredBy.FirstName" />
        <input type="hidden" asp-for="@Model.EnteredBy.LastName" />
        <input type="hidden" asp-for="@Model.EnteredBy.EmailAddr1st" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col col-md-4">
            <div class="form-group">
                <label asp-for="ScoreDate" class="control-label"></label>
                @*<input asp-for="ScoreDate" type="datetime" asp- class="form-control" />*@
                <input asp-for="ScoreDate" asp- class="form-control" />
                <span asp-validation-for="ScoreDate" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col col-md-4">
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                @if ((string)ViewData["Title"] == "Create")
                {
                    <select asp-for="MemberId" asp-items="@Model.Members" class="form-control"></select>
                }
                else
                {
                    <select readonly="readonly" disabled asp-for="MemberId" asp-items="@Model.Members" class="form-control"></select>
                }
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col col-md-4">
            <div class="form-group">
                <label asp-for="CourseId" class="control-label"></label>
                <select asp-for="CourseId" asp-items="@Model.Courses" class="form-control"></select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col col-md-4">
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <select asp-for="Color" asp-items="@Model.Colors" class="form-control"></select>
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-2">
            <label asp-for="TourEvent" class="control-label"></label>
            <input asp-for="TourEvent" class="form-control"  />
            <span asp-validation-for="TourEvent" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-2">
            <label asp-for="TourId" class="control-label"></label>
            <select asp-for="TourId" asp-items="@Model.Tours" class="form-control"></select>
            <span asp-validation-for="TourId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col col-md-4">
            <div class="form-group">
                Holes
                @if ((string)ViewData["Title"] == "Create")
                {
                    <a id="SetPar" class="float-right text-primary" href="#"> Default Scores to Par</a>
                    <span class="float-right">&nbsp;|&nbsp;</span>
                    <a id="ClearScore" class="float-right text-primary" href="#">Clear Scores </a>
                }
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="form-row">
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole01" class="control-label"></label>
                <input asp-for="@Model.Hole01" class="HoleOut form-control" />
                <span asp-validation-for="@Model.Hole01" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole02" class="control-label"></label>
                <input asp-for="@Model.Hole02" class="HoleOut form-control" />
                <span asp-validation-for="@Model.Hole02" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole03" class="control-label"></label>
                <input asp-for="@Model.Hole03" class="HoleOut form-control" />
                <span asp-validation-for="@Model.Hole03" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole04" class="control-label"></label>
                <input asp-for="@Model.Hole04" class="HoleOut form-control" />
                <span asp-validation-for="@Model.Hole04" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole05" class="control-label"></label>
                <input asp-for="@Model.Hole05" class="HoleOut form-control" />
                <span asp-validation-for="@Model.Hole05" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole06" class="control-label"></label>
                <input asp-for="@Model.Hole06" class="HoleOut form-control" />
                <span asp-validation-for="@Model.Hole06" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole07" class="control-label"></label>
                <input asp-for="@Model.Hole07" class="HoleOut form-control" />
                <span asp-validation-for="@Model.Hole07" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole08" class="control-label"></label>
                <input asp-for="@Model.Hole08" class="HoleOut form-control" />
                <span asp-validation-for="@Model.Hole08" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole09" class="control-label"></label>
                <input asp-for="@Model.Hole09" class="HoleOut form-control" />
                <span asp-validation-for="@Model.Hole09" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-sm-2">
                <label asp-for="@Model.HoleOut" class="control-label"></label>
                <input readonly="readonly" asp-for="@Model.HoleOut" class="form-control" />
                <span asp-validation-for="@Model.HoleOut" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="form-row">
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole10" class="control-label"></label>
                <input asp-for="@Model.Hole10" class="HoleIn form-control" />
                <span asp-validation-for="@Model.Hole10" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole11" class="control-label"></label>
                <input asp-for="@Model.Hole11" class="HoleIn form-control" />
                <span asp-validation-for="@Model.Hole11" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole12" class="control-label"></label>
                <input asp-for="@Model.Hole12" class="HoleIn form-control" />
                <span asp-validation-for="@Model.Hole12" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole13" class="control-label"></label>
                <input asp-for="@Model.Hole13" class="HoleIn form-control" />
                <span asp-validation-for="@Model.Hole13" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole14" class="control-label"></label>
                <input asp-for="@Model.Hole14" class="HoleIn form-control" />
                <span asp-validation-for="@Model.Hole14" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole15" class="control-label"></label>
                <input asp-for="@Model.Hole15" class="HoleIn form-control" />
                <span asp-validation-for="@Model.Hole15" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole16" class="control-label"></label>
                <input asp-for="@Model.Hole16" class="HoleIn form-control" placeholder="01" />
                <span asp-validation-for="@Model.Hole16" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole17" class="control-label"></label>
                <input asp-for="@Model.Hole17" class="HoleIn form-control" />
                <span asp-validation-for="@Model.Hole17" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="@Model.Hole18" class="control-label"></label>
                <input asp-for="@Model.Hole18" class="HoleIn form-control" />
                <span asp-validation-for="@Model.Hole18" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-2">
                <label asp-for="@Model.HoleIn" class="control-label"></label>
                <input readonly="readonly" asp-for="@Model.HoleIn" class="form-control" />
                <span asp-validation-for="@Model.HoleIn" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-2">
                <label asp-for="@Model.HoleTotal" class="control-label"></label>
                <input readonly="readonly" asp-for="@Model.HoleTotal" class="form-control" />
                <span asp-validation-for="@Model.HoleTotal" class="text-danger"></span>
            </div>
        </div>
        <!-- Textarea -->
        <div class="form-row">
            <div class="form-group">
                <label asp-for="AboutGame" class="col-md control-label"></label>
                <div class="col-md">
                    <textarea asp-for="AboutGame" class="form-control" rows="10"></textarea>
                    <span asp-validation-for="AboutGame" class="text-danger"></span>
                </div>
            </div>

        </div>



        <div class="row">
            <div class="col col-md-4">
                <div class="form-group">
                    <input id="submit" type="submit" value="@ViewData["Save"]" class="btn btn-default btn-primary" />
                    <a asp-action="Index" class="btn btn-warning">Cancel</a>
                </div>
            </div>
        </div>
</section>


<script type="text/javascript">
    console.info("Hello From Score Partial");
</script>

