@model Pogi.Entities.Score

@{
    ViewData["Title"] = "Delete";
}
<br />
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Score</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MemberId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MemberId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnteredById)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnteredById)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScoreDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScoreDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hole01)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hole01)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hole02)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hole02)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hole03)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hole03)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hole04)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hole04)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hole05)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hole05)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hole06)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hole06)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hole07)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hole07)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hole08)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hole08)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hole09)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hole09)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hole10)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hole10)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hole11)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hole11)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hole12)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hole12)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hole13)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hole13)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hole14)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hole14)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hole15)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hole15)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hole16)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hole16)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hole17)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hole17)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hole18)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hole18)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoleIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoleIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoleOut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoleOut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoleTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoleTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedTs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedTs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastUpdatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastUpdatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastUpdatedTs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastUpdatedTs)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ScoreId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
