@using Pogi.Models.ScoreViewModels
@using Pogi.Entities
@inject Pogi.Services.ICourseDetail _courseDetail
@inject Pogi.Services.IHandicap _handicap
@inject Pogi.Services.ITourInfo _tourInfo
@model ScoreDisplayViewModel ;

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <br />
    <h2>Score</h2>
    <h3>Logbook</h3>
    <hr />
    <a asp-action="Create">Record New Score</a>

    <div id="toolbar">
        <div class="form-inline" role="form">
            @*<div class="form-group">
                    <span>Offset: </span>
                    <input name="offset" class="form-control w70" type="number" value="0">
                </div>
                <div class="form-group">
                    <span>Limit: </span>
                    <input name="limit" class="form-control w70" type="number" value="5">
                </div>*@
            @*<button id="ok" type="submit" class="btn btn-default">OK</button>*@
        </div>
    </div>
    <table id="table"
           data-toolbar="#toolbar"
           data-toggle="table"
           data-search="true"
           data-striped="true"
           data-pagination="true"
           data-sort-name="scoreDate"
           data-sort-order="desc"
           data-remember-order="true"
           data-sort-stable="true">
        <thead>
            <tr>
                <th class="col-md-2" data-field="scoreDate" data-sortable="true">Date</th>
                <th class="col-md-2" data-field="courseName" data-sortable="true">Course</th>
                <th class="col-md-2" data-field="memberName" data-sortable="true">Member</th>
                <th class="col-md-1">Tee</th>
                <th class="col-md-1">Front<br /> Back</th>
                <th col-md-1">01<br />10</th>
                <th class="col-md-1">02<br />11</th>
                <th class="col-md-1">03<br />12</th>
                <th class="col-md-1">04<br />13</th>
                <th class="col-md-1">05<br />14</th>
                <th class="col-md-1">06<br />15</th>
                <th class="col-md-1">07<br />16</th>
                <th class="col-md-1">08<br />17</th>
                <th class="col-md-1">09<br />18</th>
                <th class="col-md-1">Out<br />In</th>
                <th class="col-md-1" data-field="holeTotal" data-sortable="true">Tot</th>
                <th class="col-md-1"> CHcp<br />Tour</th>
                <th class="col-md-1" data-field="NetScore" data-sortable="true"> USGA<br />Net</th>
                <th class="col-md-1" data-field="TourScore" data-sortable="true">Tour<br />Net</th>
                <th class="col-md-1">Action</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ScoreInfos)
            {
                Score score = item.Score;
                Member member = item.Member;
                Course course = item.Course;
                CourseDetail CourseDetail = _courseDetail.get(course.CourseId, score.Color);
                Handicap Handicap = _handicap.getHandicapForDate(score.MemberId, score.ScoreDate);
                var courseHandicap = "s36";
                if (Handicap != null && Handicap.HcpIndex >= 0)
                {
                    courseHandicap = ((int)Math.Round(Handicap.HcpIndex * CourseDetail.Slope / 113)).ToString();
                }
                var courseHandicapT = "n/a";
                Tour Tour = null;
                if (score.TourEvent == true)
                {
                    courseHandicapT = "s36";
                    if (Handicap != null && Handicap.HcpIndex >= 0)
                    {
                        Tour = _tourInfo.getTour(score.TourId);
                        courseHandicapT = ((int)Math.Round(Handicap.HcpIndex * (Tour.HcpAllowPct / 100)
                            * CourseDetail.Slope / 113)).ToString();
                    }
                }

                <tr>
                    @{
                        DateTime scoreDateTime = score.ScoreDate;
                        String scoreDateDisp = scoreDateTime.ToString("yyyy MM/dd");
                    }

                    <td class="col-md-2">@scoreDateDisp</td>
                    <td class="col-md-2">@course.CourseName</td>
                    <td class="col-md-2">@member.FirstName @member.LastName</td>

                    <td>@score.Color</td>
                    <td class="col-md-1">Out<br />In</td>
                    <td class="col-md-1">@score.Hole01<br />@score.Hole10</td>
                    <td class="col-md-1">@score.Hole02<br />@score.Hole11</td>
                    <td class="col-md-1">@score.Hole03<br />@score.Hole12</td>
                    <td class="col-md-1">@score.Hole04<br />@score.Hole13</td>
                    <td class="col-md-1">@score.Hole05<br />@score.Hole14</td>
                    <td class="col-md-1">@score.Hole06<br />@score.Hole15</td>
                    <td class="col-md-1">@score.Hole07<br />@score.Hole16</td>
                    <td class="col-md-1">@score.Hole08<br />@score.Hole17</td>
                    <td class="col-md-1">@score.Hole09<br />@score.Hole18</td>
                    <td class="col-md-1">@score.HoleOut<br />@score.HoleIn</td>
                    <td class="col-md-1">@score.HoleTotal</td>
                    <td class="col-md-1">@courseHandicap<br />@courseHandicapT</td>
                    <td class="col-md-1">@score.NetScore</td>
                    @if (score.TourEvent == true)
                    {
                        <td class="col-md-1">@score.TourScore</td>
                    }
                    else
                    {
                        <td class="col-md-1">n/a</td>
                    }
                    <td class="col-md-1">
                        @if (Model.User != null && (Model.User.MemberId == score.EnteredById || Model.User.MemberId == score.MemberId
|| Model.User.RoleAdminTeeTime == true || Model.User.MemberId == 1))
                        {
                            <a data-toggle="tooltip" title="Edit Score" asp-action="Edit" asp-route-id="@score.ScoreId">&#x270f;</a>
                            <a data-toggle="tooltip" title="Delete Score" asp-action="Delete" asp-route-id="@score.ScoreId" class="fa fa-trash"></a>
                        }
                    </td>

                </tr>

            }
        </tbody>
    </table>

</div>

@section Scripts {
    <script>
        console.info("Hello From Score Index");
        
        var $table = $('#table'),
            $ok = $('#ok');
        $(function () {
            $(".search input").change(function () {
                console.info("Logbook Seach Text changed=" + $(this).val());
            });

            $ok.click(function () {
                console.info("Refreshing");
                $table.bootstrapTable('refresh');
            });
        });
        function queryParams() {
            var params = {};
            $('#toolbar').find('input[name]').each(function () {
                params[$(this).attr('name')] = $(this).val();
            });
            return params;
        }
        function responseHandler(res) {
            return r0es.rows;
        }
        $('#table').bootstrapTable({
            onLoadSuccess: function (data) {
                // ...
            }
        });

        $('#table').on('load-success.bs.table', function (e, data) {
            console.info("Hello From load-sucess.ba.table");
            // ...
        });
    </script>
}