@using Pogi.Models.ScoreViewModels
@using Pogi.Entities
@inject Pogi.Services.ICourseDetail _courseDetail
@inject Pogi.Services.IHandicap _handicap
@inject Pogi.Services.ITourInfo _tourInfo
@model ScoreDisplayViewModel ;

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <br />
    <h2>Score</h2>
    <h3>Leaderboard</h3>
    <hr />


    <div class="form-row">

        <div class="form-group col-md-6">
            <form asp-action="Leaderboard">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Tour</span>
                    </div>
                    <select asp-for="TourId" asp-items="@Model.Tours" class="form-control"></select>
                    <div class="input-group-append">
                        <select asp-for="TourDate" asp-items="@Model.TourDates" class="form-control"></select>
                    </div>
                    <div class="input-group-addon">
                        <input hidden id="SetTour" type="submit" name="SetTour" value="SetTour" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div id="toolbar">
        <div class="form-inline" role="form">
            @*<div class="form-group">
                    <span>Offset: </span>
                    <input name="offset" class="form-control w70" type="number" value="0">
                </div>
                <div class="form-group">
                    <span>Limit: </span>
                    <input name="limit" class="form-control w70" type="number" value="5">
                </div>*@
            @*<button id="ok" type="submit" class="btn btn-default">OK</button>*@
        </div>
    </div>

    @{var sortName = "scoreDate";
        var sortOrder = "desc";
        var dataPagination = "true";
        if (Model.TourId != "0")
        {
            sortName = "TourScore";
            sortOrder = "asc";
            dataPagination = "false";

        }
    }
    <table id="table"
           data-toolbar="#toolbar"
           data-toggle="table"
           data-search="false"
           data-striped="true"
           data-pagination="@dataPagination"
           data-sort-name="@sortName"
           data-sort-order="@sortOrder"
           data-remember-order="true"
           data-sort-stable="true">
        <thead>
            <tr>
                @*<th class="col-md-2" data-field="scoreDate" data-sortable="true">Date</th>
                    <th class="col-md-2" data-field="courseName" data-sortable="false">Course</th>*@
                <th class="col-md-2" data-field="memberName" data-sortable="false">Member</th>
                <th class="col-md-1" data-field="holeTotal" data-sortable="true">Tot</th>
                <th class="col-md-1" data-field="toPar" data-sortable="false">Rnd</th>
                <th class="col-md-1" data-field="TourScore" data-sortable="true">Tour<br /> Net</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ScoreInfos)
            {
                Score score = item.Score;
                Member member = item.Member;
                Course course = item.Course;
                CourseDetail CourseDetail = _courseDetail.get(course.CourseId, score.Color);
                var toPar = (score.HoleTotal - course.ParTotal).ToString("+0;-#");
                Handicap Handicap = _handicap.getHandicapForDate(score.MemberId, score.ScoreDate);
                var courseHandicap = "s36";
                if (Handicap != null && Handicap.HcpIndex >= 0)
                {
                    courseHandicap = ((int)Math.Round(Handicap.HcpIndex * CourseDetail.Slope / 113)).ToString();
                }
                var courseHandicapT = "n/a";
                Tour Tour = null;
                if (score.TourEvent == true)
                {
                    courseHandicapT = "s36";
                    if (Handicap != null && Handicap.HcpIndex >= 0)
                    {
                        Tour = _tourInfo.getTour(score.TourId);
                        courseHandicapT = ((int)Math.Round(Handicap.HcpIndex * (Tour.HcpAllowPct / 100)
                            * CourseDetail.Slope / 113)).ToString();
                    }
                }

                <tr>
                    @{
                        DateTime scoreDateTime = score.ScoreDate;
                        String scoreDateDisp = scoreDateTime.ToString("yyyy MM/dd");
                    }

                    @*<td class="col-md-2">@scoreDateDisp</td>
                        <td class="col-md-2">@course.CourseName</td>*@
                    <td class="col-md-2">@member.FirstName @member.LastName</td>
                    <td class="col-md-1">@score.HoleTotal</td>
                    <td class="col-md-1">@toPar</td>
                    <td class="col-md-1">@score.TourScore</td>
                </tr>

            }
        </tbody>
    </table>

</div>

@section Scripts {
    <script>
        console.info("Hello From Score LeaderBoard");

        var $table = $('#table'),
            $ok = $('#ok');
        $(function () {
            $ok.click(function () {
                console.info("Refreshing");
                $table.bootstrapTable('refresh');
            });
        });
        $("#TourId").change(function () {
            console.info("TourId changed");
            $("#SetTour").trigger("click");
            $("#TourDate").val("");
        });
        $("#TourDate").change(function () {
            console.info("TourId changed");
            $("#SetTour").trigger("click");
        });

        function queryParams() {
            var params = {};
            $('#toolbar').find('input[name]').each(function () {
                params[$(this).attr('name')] = $(this).val();
            });
            return params;
        }
        function responseHandler(res) {
            return r0es.rows;
        }
        $('#table').bootstrapTable({
            onLoadSuccess: function (data) {
                // ...
            }
        });

        $('#table').on('load-success.bs.table', function (e, data) {
            console.info("Hello From load-sucess.ba.table");
            // ...
        });
    </script>
}
