@model Pogi.Entities.TourDay

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TourDay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TourId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TourId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TourDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TourDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TourDayId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
