
<style>
    body {
        padding-top: 0;
    }

    img {
        image-orientation: from-image;
    }

    .navbar .nav {
        position: relative;
        left: 0;
        display: block;
        float: left;
        margin: 0 10px 0 0;
    }
</style>

@model Pogi.Entities.Member
@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Edit";
    ViewData["Save"] = "Save";
}
<section>
    <div class="container">
        <h2>Member Profile</h2>
        <h4>Edit</h4>
        <hr />
        <div class="row">

            <div class="col-md-9 ">
                <form method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="MemberId" />
                    <input type="hidden" asp-for="RecordStatus" />
                    <input type="hidden" asp-for="MemberStatus" />
                    <input type="hidden" asp-for="RoleAdminRoot" />
                    <input type="hidden" asp-for="RoleAdminUser" />
                    <input type="hidden" asp-for="RoleAdminCourse" />
                    <input type="hidden" asp-for="RoleAdminTeeTime" />
                    <input type="hidden" asp-for="RoleAdminTour" />
                    <input type="hidden" asp-for="RoleAdminScore" />
                    <input type="hidden" asp-for="GhinNumber" />
                    <input type="hidden" asp-for="CurrHandicap" />
                    <fieldset>
                        <!-- Form Name -->
                        @*<legend>User profile form requirement</legend>*@
                        <!-- Text input-->
                        <div class="form-group">
                            <label asp-for="FirstName" class="col-md-5 control-label"></label>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-user">
                                        </i>
                                    </div>
                                    <input asp-for="FirstName" class="form-control input-md" placeholder="First Name" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName " class="col-md-5 control-label"></label>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-user">
                                        </i>
                                    </div>
                                    <input asp-for="LastName" class="form-control input-md" placeholder="Last Name" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <!-- File Button -->
                        <div class="form-group">
                            <label class="col-md-5 control-label" for="Upload photo">Upload photo</label>
                            <div class="col-md-5">
                                <input id="fileUpload" class="input-file" type="file">
                                <input id="btnUploadFile" type="button" value="Upload">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label" for="Phone number ">Phone number </label>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i id="Phone1stIcon" class="fa fa-phone"></i>
                                    </div>
                                    <input asp-for="Phone1st" class="form-control input-md" placeholder="1st Phone" />
                                    <span asp-validation-for="Phone1st" class="text-danger"></span>
                                    <div class="input-group-addon">
                                        <select asp-for="Phone1stType" asp-items="@Html.GetEnumSelectList<PhoneType>()"> class="form-control"></select>
                                    </div>

                                </div>
                                <div class="input-group othertop">
                                    <div class="input-group-addon">
                                        <i id="Phone2ndIcon" class="fa fa-phone"></i>
                                    </div>
                                    <input asp-for="Phone2nd" class="form-control input-md" placeholder="2nd Phone" />
                                    <span asp-validation-for="Phone2nd" class="text-danger"></span>
                                    <div class="input-group-addon">
                                        <select asp-for="Phone2ndType" asp-items="@Html.GetEnumSelectList<PhoneType>()"> class="form-control"></select>
                                    </div>


                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="EmailAddr1st" class="col-md-5 control-label"></label>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-envelope">
                                        </i>
                                    </div>
                                    <input asp-for="EmailAddr1st" class="form-control input-md" placeholder="Primary Email Address" />
                                    <span asp-validation-for="EmailAddr1st" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="EmailAddr2nd" class="col-md-5 control-label"></label>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-envelope">
                                        </i>
                                    </div>
                                    <input asp-for="EmailAddr2nd" class="form-control input-md" placeholder="Secondary Email Address" />
                                    <span asp-validation-for="EmailAddr2nd" class="text-danger"></span>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label asp-for="MaritalStatus" class="col-md-5 control-label"></label>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-gavel">
                                        </i>
                                    </div>
                                    <select asp-for="MaritalStatus" asp-items="@Html.GetEnumSelectList<MaritalState>()" class="form-control input-sm"></select>
                                    <span asp-validation-for="MaritalStatus" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Profession" class="col-md-5 control-label"></label>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-briefcase">
                                        </i>
                                    </div>
                                    <input asp-for="Profession" class="form-control input-md" placeholder="Profession" />
                                    <span asp-validation-for="Profession" class="text-danger"></span>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-5 control-label col-xs-12">Street Address</label>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-road">
                                        </i>
                                    </div>
                                    <input asp-for="Street" class="form-control input-md" placeholder="Street Address" />
                                    <span asp-validation-for="Street" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label asp-for="City" class="col-md-5 control-label"></label>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-road">
                                        </i>
                                    </div>
                                    <input asp-for="City" class="form-control input-md" placeholder="City" />
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Zip" class="col-md-5 control-label"></label>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-road">
                                        </i>
                                    </div>
                                    <input asp-for="Zip" class="form-control input-md" placeholder="Zip" />
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="State" class="col-md-5 control-label"></label>
                            <div class="col-md-4  col-xs-4">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-road">
                                        </i>
                                    </div>
                                    <select asp-for="State" asp-items="@Html.GetEnumSelectList<StateCode>()" class="form-control input-sm"></select>
                                    <span asp-validation-for="State" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-1 col-xs-4">USA</div>
                        </div>

                        <!-- Textarea -->
                        <div class="form-group">
                            <label asp-for="AboutMe" class="col-md-5 control-label"></label>
                            <div class="col-md-5">
                                <textarea asp-for="AboutMe" class="form-control" rows="10"></textarea>
                                <span asp-validation-for="AboutMe" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label"></label>
                            <div class="col-md-5">
                                <input asp-action="Edit" type="submit" value="@ViewData["Save"]" class="btn btn-primary">
                                <span>
                                    <a class="btn btn-danger" href="/Home/index" role="button">Cancel</a>
                                </span>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-md-3 hidden-xs">
                @{var imgFile = "/images/Profile/" + Model.FirstName + Model.LastName + ".jpg"; }
                <img id="ProfileFile" src="@imgFile" width="800" height="800"
                     alt="Image not found" onerror="this.src='/images/Profile/avatar.jpg';"
                     class="img-responsive ">
            </div>

        </div>
    </div>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">

</section>

@section Scripts {

    <script type="text/javascript">

        $(function ()  {

            console.info("Hello From Profile Edit");
            $("#fileUpload").change(function () {
                console.info("Upload Button to Primary");
                $("#btnUploadFile").addClass("btn btn-primary")
            });

            $('#btnUploadFile').on('click', function () {
                console.info("Upload Button clicked");
                var data = new FormData();
                var files = $("#fileUpload").get(0).files;
                // Add the uploaded image content to the form data collection
                if (files.length > 0) {
                    data.append("UploadedImage", files[0]);
                }

                // Make Ajax request with the contentType = false, and procesDate = false
                var ajaxRequest = $.ajax({
                    type: "POST",
                    url: "/api/values/uploadfile/@Model.MemberId",
                    contentType: false,
                    processData: false,
                data: data
                });

                ajaxRequest.done(function (xhr, textStatus) {
                    // Do other operation
                    console.info("Replacing Image Source");
                    var timestamp = new Date().getTime();
                    source = "/images/Profile/" + "@Model.FirstName" + "@Model.LastName" + ".jpg";
                    $('#ProfileFile').attr('src', source + '?' + timestamp);
                    $("#btnUploadFile").removeClass("btn btn-primary")
                });


            });

            $("#ProfileFile").each(function () {
                console.info("Hello before loadImage "
                    + $(this).attr("src"));
                var element = $(this);
                loadImage(
                    $(this).attr("src"),
                    function (img) {
                        if (img.type === "error") {
                        }
                        else {
                            element.attr("src", img.toDataURL("image/jpeg"));
                        }
                    },
                    {
                        orientation: true,
                        maxWidth: 200
                    }
                );
            });

         });



    </script>
}
