@model IEnumerable<Pogi.Entities.Member>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone1st)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone1stType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone2nd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone2ndType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddr1st)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddr2nd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profession)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaritalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GhinNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrHandicap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleAdminRoot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleAdminUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleAdminCourse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleAdminTeeTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleAdminScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleAdminTour)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone1st)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone1stType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone2nd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone2ndType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddr1st)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddr2nd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecordStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profession)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaritalStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhinNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrHandicap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleAdminRoot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleAdminUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleAdminCourse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleAdminTeeTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleAdminScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleAdminTour)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MemberId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MemberId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MemberId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
